<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <!-- Available Options: https://github.com/microsoft/codecoverage/blob/main/docs/configuration.md -->
  <CoverageFileName>coverage.cobertura.xml</CoverageFileName>
  <Format>cobertura</Format>
  <IncludeTestAssembly>false</IncludeTestAssembly>
  <DeterministicReport>true</DeterministicReport>
  <CollectFromChildProcesses>true</CollectFromChildProcesses>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*Docfx.*\.dll$</ModulePath>
      </Include>
      <Exclude>
        <!-- Exclude test DLLs -->
        <ModulePath>.*Docfx\.Tests\.Common\.dll$</ModulePath>
        <ModulePath>.*\.Tests\.dll$</ModulePath>

        <!-- Exclude third party DLLs -->
        <ModulePath>.*ICSharpCode\.Decompiler\.dll$</ModulePath>
        <ModulePath>.*Spectre\.Console\.Cli\.dll$</ModulePath>
        <ModulePath>.*Spectre\.Console\.dll$</ModulePath>
        <ModulePath>.*DiffEngine\.dll$</ModulePath>

        <!-- Following DLLs are included when using `dotnet coverage` commands -->
        <ModulePath>.*Argon\.dll$</ModulePath>
        <ModulePath>.*EmptyFiles\.dll$</ModulePath>
        <ModulePath>.*Verify\.dll$</ModulePath>
        <ModulePath>.*Verify\.DiffPlex\.dll$</ModulePath>
        <ModulePath>.*Verify\.XunitV3\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
    <Attributes>
      <Exclude>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <Sources>
      <Exclude>
        <Source>.*\\[^\\]*\.g\.cs</Source>
      </Exclude>
    </Sources>
    <!-- Disable following settings. Because C++ code is not contained (See: https://github.com/microsoft/codecoverage/blob/main/README.md#get-started)-->
    <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
  </CodeCoverage>
</Configuration>
