<?xml version="1.0" encoding="utf-8"?>
<!-- Solution level runsettings for tests.  -->
<RunSettings>
    <!-- Configurations that affect the Test Framework -->
    <RunConfiguration>
        <MaxCpuCount>0</MaxCpuCount>
        <ResultsDirectory>./TestResults/coverages</ResultsDirectory>
        <!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
        <TestSessionTimeout>60000</TestSessionTimeout>
        <TreatNoTestsAsError>true</TreatNoTestsAsError>
        <EnvironmentVariables>
            <DOTNET_CLI_UI_LANGUAGE>en</DOTNET_CLI_UI_LANGUAGE>
        </EnvironmentVariables>
        <!--<TestAdaptersPaths>%LocalAppData%FineCodeCoverage\msCodeCoverage\17.1.0\build\netstandard1.0</TestAdaptersPaths>-->
        <CollectSourceInformation>False</CollectSourceInformation>
        <TreatTestAdapterErrorsAsWarnings>false</TreatTestAdapterErrorsAsWarnings>
        <DesignMode>false</DesignMode>
        <DisableParallelization>false</DisableParallelization>
        <DisableAppDomain>false</DisableAppDomain>
        <CollectSourceInformation>true</CollectSourceInformation>
        <BatchSize>1000</BatchSize>
    </RunConfiguration>

    <!-- Configurations for data collectors -->
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>
                    <CoverageFileName>coverage.cobertura.xml</CoverageFileName>
                    <Format>cobertura</Format>
                    <!--
                    <Exclude></Exclude> 
                    <ExcludeByFile></ExcludeByFile>
                    <IncludeDirectory></IncludeDirectory>
                    -->
                </Configuration>
            </DataCollector>
            <DataCollector friendlyName="Code Coverage" enabled="True">
                <Configuration>
                    <CodeCoverage>
                        <ModulePaths>
                            <Include>
                                <ModulePath>.*\.dll$</ModulePath>
                                <ModulePath>.*\.exe$</ModulePath>
                            </Include>
                            <Exclude>
                            </Exclude>
                        </ModulePaths>
                        <Functions>
                            <Exclude></Exclude>
                            <Include></Include>
                        </Functions>
                        <Attributes>
                            <Exclude>
                                <!-- Don't forget "Attribute" at the end of the name -->
                                <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
                                <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
                                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
                            </Exclude>
                        </Attributes>
                        <Sources>
                            <Exclude></Exclude>
                            <Include></Include>
                        </Sources>
                        <CompanyNames>
                            <Exclude></Exclude>
                            <Include></Include>
                        </CompanyNames>
                        <PublicKeyTokens>
                            <Exclude></Exclude>
                            <Include></Include>
                        </PublicKeyTokens>
                        <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
                        <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
                        <CollectFromChildProcesses>True</CollectFromChildProcesses>
                        <CollectAspDotNet>False</CollectAspDotNet>
                    </CodeCoverage>
                    <Format>Cobertura</Format>
                </Configuration>
            </DataCollector>
            <!-- Blame Data Collector -->
            <DataCollector friendlyName="blame" enabled="True">
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>

    <!-- Parameters used by tests at runtime(via TestContext) -->
    <TestRunParameters>
    </TestRunParameters>

    <!-- Configuration for loggers -->
    <LoggerRunSettings>
        <Loggers>
            <Logger friendlyName="console" enabled="True">
                <Configuration>
                    <Verbosity>minimal</Verbosity>
                    <ConsoleLoggerParameters>ErrorsOnly</ConsoleLoggerParameters>
                </Configuration>
            </Logger>
            <Logger friendlyName="html" enabled="True">
                <Configuration>
                    <!--<LogFileName>test_results.html</LogFileName>-->
                </Configuration>
            </Logger>
            <Logger friendlyName="blame" enabled="True" />
        </Loggers>
    </LoggerRunSettings>

    <!-- Adapter Specific sections -->
</RunSettings>
