{{!include(fonts/glyphicons-halflings-regular.eot)}}
{{!include(fonts/glyphicons-halflings-regular.svg)}}
{{!include(fonts/glyphicons-halflings-regular.ttf)}}
{{!include(fonts/glyphicons-halflings-regular.woff)}}
{{!include(fonts/glyphicons-halflings-regular.woff2)}}
{{!include(scripts/docfx.js)}}
{{!include(scripts/lunr.min.js)}}
{{!include(scripts/search-worker.js)}}
{{!include(scripts/vendor.js)}}
{{!include(styles/docfx.css)}}
{{!include(styles/vendor.css)}}
{{!include(views/container.html)}}
{{!include(views/navbar.html)}}
{{!include(views/yamlContent.html)}}
{{!include(favicon.ico)}}
{{!include(logo.png)}}
{{!include(index.html)}}