{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<html>
  {{>partials/head}}
  {{^redirect_url}}
  <body data-layout="{{layout}}">
    <header class="border-bottom">
      {{>partials/navbar}}
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="sidetoc" id="sidetoc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" style="margin-top: -.5em; margin-left: -.8em"
              type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas"
              aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="{{uid}}">
          {{!body}}
        </article>

        {{^_disableContribution}}
        <div class="contribution d-print-none">
          <ul>
            {{#docurl}}
            <li><a href="{{docurl}}" class="contribution-link">{{__global.improveThisDoc}}</a></li>
            {{/docurl}}
            {{#sourceurl}}
            <li><a href="{{sourceurl}}" class="contribution-link">{{__global.viewSource}}</a></li>
            {{/sourceurl}}
          </ul>
        </div>
        {{/_disableContribution}}
      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>

    {{#_enableSearch}}
    <div class="container-xxl search-results" id="search-results"></div>
    {{/_enableSearch}}

    <footer>
      {{>partials/footer}}
    </footer>

    {{>partials/scripts}}
  </body>
  {{/redirect_url}}
</html>