{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  <body>
    <article>
      {{!body}}
    </article>
  </body>
</html>
