version: 2
updates:
- package-ecosystem: nuget
  target-branch: main
  directory: "/"
  schedule:
    interval: weekly
- package-ecosystem: "github-actions"
  directory: "/"
  schedule: 
    interval: weekly
  target-branch: main
