packages
bin
csx
obj
xdocoutput
node_modules
*.sln.ide
TestResults
TestTools
.vs
.vscode
.NuGet
artifacts
target
_site
_site_pdf

*.nupkg
*.log
*.tmp
*.vsprops
*.suo
*.user
*.userprefs
*.sdf
*.sln.ide
*.cache
*.sln.metaproj
.settings
.DS_Store
log.txt
debugSettings.json
launchSettings.json
project.lock.json
package-lock.json
*.sublime-workspace
*.nuget.targets
