bin
obj
drop
temp
node_modules
.vs
.vscode
_site
_site_pdf
docs/api
samples/**/api
src/Docfx.App/templates
test/**/TestResults

*.user
*.log
*.cache
*.received.*
*.diff.*
.settings
.DS_Store
.idea
launchSettings.json
*.sublime-workspace
*.nuget.targets
*.code-workspace
*.binlog
