version: 1.0.{build}
os: Visual Studio 2015
init:
- cmd: >-
    @powershell -NoProfile -ExecutionPolicy unrestricted -Command "&{$Branch='dev';iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.ps1'))}"
    
    dnvm install 1.0.0-rc1-final
    
    git config --global core.autocrlf true
build_script:
- cmd: build.cmd
test: off