trigger:
  batch: true
  branches:
    include:
    - v3
    - v3-release
pr:
- v3

variables:
- group: devresourcekeyvault
- name: dotnetVersion
  value: 5.0.100
- name: runCodesignValidationInjection
  value: false
- name: NugetSecurityAnalysisWarningLevel
  value: none

jobs:

# Test and deploy on windows
- job: WindowsBuild
  pool:
    vmImage: 'windows-latest'
  steps:

  # Run CredScan
  - task: CredScan@2
    displayName: Security - CredScan
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    inputs:
      toolMajorVersion: 'V2'

  # Install .NET Core sdk
  - task: UseDotNet@2
    displayName: 'Install .NET Core sdk $(dotnetVersion)'
    inputs:
      packageType: sdk
      version: $(dotnetVersion)

  # dotnet test
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      arguments: -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover"
      publishTestResults: true
    env:
      DOCS_GITHUB_TOKEN: $(gitHubTestToken-Sandbox)

  # Run SDL tools
  - task: BinSkim@3
    displayName: Security - BinSkim
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    inputs:
      InputType: 'Basic'
      Function: 'analyze'
      AnalyzeTarget: >
        src/docfx/bin/Release/net5.0/docfx.dll;
        src/docfx/bin/Release/net5.0/Microsoft.DocAsCode.MarkdigEngine.Extensions.dll;
        src/docfx/bin/Release/net5.0/Microsoft.Docs.LearnValidation.dll;

  - task: SdtReport@1
    displayName: Security - SdtReport
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    inputs:
      AllTools: false
      CredScan: true
      BinSkim: true
      ToolLogsNotFoundAction: 'Standard'

  - task: PublishSecurityAnalysisLogs@2
    displayName: Security - Publish Scan Results
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    inputs:
      ArtifactName: 'CodeAnalysisLogs'
      ArtifactType: 'Container'
      AllTools: true
      ToolLogsNotFoundAction: 'Standard'

  - task: PostAnalysis@1
    displayName: Security - PostAnalysis
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    inputs:
      AllTools: false
      CredScan: true
      BinSkim: true
      ToolLogsNotFoundAction: 'Standard'

  # Upload code coverage to codecov.io
  - bash: |
      bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
    displayName: 'Upload to codecov.io'
    env:
      CODECOV_TOKEN: $(CODECOV_TOKEN)

  # Build RegressionTest into Artifact 
  - powershell: |
      dotnet build ./test/docfx.RegressionTest -c Release -r win7-x64 -o ./drop/RegressionTest
    displayName: Build RegressionTest into Artifact 

  # Publish RegressionTest binary
  - publish: ./drop/RegressionTest
    displayName: Publish RegressionTest binary
    artifact: RegressionTest

# Run RegressionTest
- job: RunRegressionTest
  condition: eq('true', 'false')
  dependsOn: WindowsBuild
  pool:
    name: DocFX
  strategy:
    matrix:
      azure-docs-pr:
        params: https://github.com/MicrosoftDocs/azure-docs-pr --profile --timeout 100 --regression-rules
      sql-docs-pr:
        params: https://github.com/MicrosoftDocs/sql-docs-pr --profile --timeout 120 --regression-rules
      docs:
        params: https://github.com/dotnet/docs --timeout 60 --regression-rules
      learn-pr:
        params: https://github.com/MicrosoftDocs/learn-pr --timeout 100 --no-dry-sync --regression-rules
      windowsserverdocs-pr:
        params: https://github.com/MicrosoftDocs/windowsserverdocs-pr  --timeout 45 --regression-rules
      VBA-Docs:
        params: https://github.com/MicrosoftDocs/VBA-Docs --timeout 60 --regression-rules
      azure-devops-docs-pr:
        params: https://github.com/MicrosoftDocs/azure-devops-docs-pr --timeout 30 --regression-rules
      AspNetCore.Docs:
        params: https://github.com/dotnet/AspNetCore.Docs --profile --timeout 30 --output-html
      microsoft-365-docs-pr.zh-CN:
        params: https://github.com/MicrosoftDocs/microsoft-365-docs-pr.zh-CN --branch live-sxs --profile --timeout 25
      powerbi-docs-pr.de-DE:
        params: https://github.com/MicrosoftDocs/powerbi-docs-pr.de-DE --branch live-sxs --timeout 25
      PowerShell-Docs:
        params: https://github.com/MicrosoftDocs/PowerShell-Docs --timeout 75 --branch staging
      roslyn-api-docs:
        params: https://github.com/dotnet/roslyn-api-docs --branch live --profile --timeout 105
      azure-docs-rest-apis:
        params: https://github.com/Azure/azure-docs-rest-apis --timeout 130 --error-level Warning
      dynamics365-docs-odata-apis:
        params: https://github.com/MicrosoftDocs/dynamics365-docs-odata-apis --timeout 20
      mc-docs-pr:
        params: https://github.com/MicrosoftDocs/mc-docs-pr --timeout 70
      dynamics365smb-devitpro:
        params: https://github.com/MicrosoftDocs/dynamics365smb-devitpro --timeout 15
      DevSandbox:
        params: https://github.com/MicrosoftDocs/DevSandbox --timeout 30
      test:
        params: https://github.com/MicrosoftDocs/test --timeout 20 --no-dry-sync
      DocsRoot:
        params: https://github.com/MicrosoftDocs/DocsRoot --timeout 20
      windows-compatibility:
        params: https://dev.azure.com/cpubwin/windows-compatibility/_git/windows-compatibility --timeout 20
      azure-docs-cli:
        params: https://github.com/MicrosoftDocs/azure-docs-cli --timeout 50
      dataprep-dotnet-pr:
        params: https://github.com/MicrosoftDocs/dataprep-dotnet-pr --timeout 30
      azure-mediaplayer-typescript:
        params: https://github.com/MicrosoftDocs/azure-mediaplayer-typescript --timeout 30
      quantum-docs-pr:
        params: https://github.com/MicrosoftDocs/quantum-docs-pr --timeout 30 --branch main
      microsoft-graph-docs:
        params: https://github.com/microsoftgraph/microsoft-graph-docs --timeout 30
      # dry-runs
      dryrun.bot-docs-pr:
        params: https://github.com/MicrosoftDocs/bot-docs-pr --timeout 40 --no-dry-sync --dry-run --public-template
      dryrun.azure-docs-pr:
        params: https://github.com/MicrosoftDocs/azure-docs-pr --profile --timeout 50 --dry-run --regression-rules

  steps:
  # Install .NET Core sdk
  - task: UseDotNet@2
    displayName: 'Install .NET Core sdk $(dotnetVersion)'
    inputs:
      packageType: sdk
      version: $(dotnetVersion)

  # Download RegressionTest binary
  - download: current
    displayName: Download RegressionTest binary
    artifact: RegressionTest

  # Install dotnet-trace
  - script: dotnet tool update -g dotnet-trace
    displayName: Install dotnet-trace

  # Run Regression Tests
  - task: AzureCLI@2
    displayName: Run regression tests
    inputs:
      azureSubscription: 'Open Publishing - Build Production'
      scriptType: ps
      scriptLocation: inlineScript
      powerShellErrorActionPreference: continue
      inlineScript: $(Pipeline.Workspace)/RegressionTest/docfx.RegressionTest.exe $(params)
    env:
      BUILD_REASON: $(Build.Reason)
      DOCFX_APPDATA_PATH: D:/appdata
      DOCS_GITHUB_TOKEN: $(gitHubTestToken-Sandbox)
      AZURE_DEVOPS_TOKEN: $(vsoTestToken-Sandbox)
      PULL_REQUEST_NUMBER : $(System.PullRequest.PullRequestNumber)
      APPINSIGHTS_INSTRUMENTATIONKEY: 5226e0d0-086f-4cab-a491-1d00fde9eb09
