<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Docfx_PublicPackages" value="https://pkgs.dev.azure.com/ceapex/Engineering/_packaging/Docfx_PublicPackages/nuget/v3/index.json" />
        <add key="docs-public-packages" value="https://docfx.pkgs.visualstudio.com/docfx/_packaging/docs-public-packages/nuget/v3/index.json" />
    </packageSources>
</configuration>
