<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="dotnet-corefxlab" value="https://dotnet.myget.org/F/dotnet-corefxlab" />
        <add key="docfx-dev" value="https://www.myget.org/F/docfx-dev/api/v3/index.json" />
        <add key="op-external" value="https://www.myget.org/F/op-external/api/v2" />
        <add key="doc-public-packages" value="https://docfx.pkgs.visualstudio.com/docfx/_packaging/docs-public-packages/nuget/v3/index.json" />
    </packageSources>
</configuration>
