<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Managed Recommended Rules" Description="These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. It is recommended to include this rule set in any custom rule set you create for your projects." ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- SA0001XmlCommentAnalysisDisabled -->
    <Rule Id="SA0001" Action="None" />
    <!-- SA1101PrefixLocalCallsWithThis -->
    <Rule Id="SA1101" Action="None" />
    <!-- SA1122UseStringEmptyForEmptyStrings -->
    <Rule Id="SA1122" Action="None" />
    <!-- SA1127GenericTypeConstraintsMustBeOnOwnLine -->
    <Rule Id="SA1127" Action="None" />
    <!-- SA1201ElementsMustAppearInTheCorrectOrder: A constructor should not follow a property -->
    <Rule Id="SA1201" Action="None" />
    <!-- SA1204StaticElementsMustAppearBeforeInstanceElements: A static element is positioned beneath an instance element of the same type. -->
    <Rule Id="SA1204" Action="None" />
    <!-- SA1308VariableNamesMustNotBePrefixed -->
    <Rule Id="SA1308" Action="None" />
    <!-- SA1309FieldNamesMustNotBeginWithUnderscore -->
    <Rule Id="SA1309" Action="None" />
    <!-- SA1311StaticReadonlyFieldsMustBeginWithUpperCaseLetter -->
    <Rule Id="SA1311" Action="None" />
    <!-- SA1401FieldsMustBePrivate -->
    <Rule Id="SA1401" Action="None" />
    <!-- SA1405DebugAssertMustProvideMessageText -->
    <Rule Id="SA1405" Action="None" />
    <!-- SA1502ElementMustNotBeOnSingleLine -->
    <Rule Id="SA1502" Action="None" />
    <!-- SA1503BracesMustNotBeOmitted -->
    <Rule Id="SA1503" Action="None" />
    <!-- SA1513ClosingBraceMustBeFollowedByBlankLine -->
    <Rule Id="SA1513" Action="None" />
    <!-- SA1600ElementsMustBeDocumented -->
    <Rule Id="SA1600" Action="None" />
    <!-- SA1602EnumerationItemsMustBeDocumented -->
    <Rule Id="SA1602" Action="None" />
    <!-- SA1611ElementParametersMustBeDocumented -->
    <Rule Id="SA1611" Action="None" />
    <!-- SA1615ElementReturnValueMustBeDocumented -->
    <Rule Id="SA1615" Action="None" />
    <!-- SA1618GenericTypeParametersMustBeDocumented -->
    <Rule Id="SA1618" Action="None" />
    <!-- SA1642ConstructorSummaryDocumentationMustBeginWithStandardText -->
    <Rule Id="SA1642" Action="None" />
    <!-- SA1649FileNameMustMatchTypeName -->
    <Rule Id="SA1649" Action="None" />
    <!-- SA1652EnableXMLDocumentOutput -->
    <Rule Id="SA1652" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <!-- CA1064: Make exception public -->
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <!-- CA1308: Normalize strings to uppercase -->
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <!-- CA1806DoNotIgnoreMethodResults -->
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <!-- CA2007DoNotDirectlyAwaitATaskAnalyzer -->
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
    <Rule Id="CA5351" Action="Warning" />
  </Rules>
</RuleSet>
