{
  "swagger": "2.0",
  "info": {
    "title": "Contacts",
    "version":  "1.0"
  },
  "paths": {
    "/contacts": {
      "patch": {
        "parameters": [
          {
            "in": "body",
            "description": "this is request body, not real parameter",
            "name": "bodyparam",
            "required": false,
            "schema": {
              "$ref": "#/definitions/contact",
              "example": {
                "department": "Sales",
                "jobTitle": "Sales Rep"
              }
            }
          },
          {
            "in": "query",
            "description": "The batch error",
            "name": "batchError",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned.",
            "examples": {
              "application/json": "none"
            }
          }
        },
        "description": "<p><i>Required scope</i>: <b><i>Contacts.Write</i></b></p>",
        "summary": "Change a contact's properties.",
        "operationId": "update contact"
      }
    }
  },
  "host": "graph.windows.net",
  "basePath": "/myorganization",
  "definitions": {
    "contact": {
      "properties": {
        "objectType": {
          "type": "string",
          "readOnly": "true"
        },
        "provisioningErrors": {
          "type": "array",
          "items": {
            "schema": {
              "$ref": "#/~1array/1"
            }
          },
          "readOnly": "true"
        }
      }
    },
    "ProvisioningError": {
      "properties": {
        "errorDetail": {
          "type": "string",
          "readOnly": "true"
        }
      }
    },
    "BatchError": {
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
      },
      "description": "An error response received from the Azure Batch service."
    },
    "ErrorMessage": {
      "properties": {
        "lang": {
          "type": "string",
          "description": "The language code of the error message"
        },
        "value": {
          "type": "string",
          "description": "The text of the message."
        }
      },
      "description": "An error message received in an Azure Batch error response."
    }
  },
  "/array": [
    {
      "properties": {
        "errorDetail": {
          "type": "string",
          "readOnly": "true"
        }
      }
    },
    {
      "properties": {
        "errorDetail": {
          "type": "string",
          "readOnly": "true"
        }
      }
    }
  ]
}
