{
  "swagger": "2.0",
  "info": {
    "title": "Contacts"
  },
  "paths": {
    "/contacts": {
      "patch": {
        "parameters": [
          {
            "in": "body",
            "description": "this is request body, not real parameter",
            "name": "bodyparam",
            "required": false,
            "schema": {
              "$ref": "#/definitions/contact",
              "example": {
                "department": "Sales",
                "jobTitle": "Sales Rep"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned.",
            "examples": {
              "application/json": "none"
            }
          }
        },
        "description": "<p><i>Required scope</i>: <b><i>Contacts.Write</i></b></p>",
        "summary": "Change a contact's properties.",
        "operationId": "update contact"
      }
    }
  },
  "host": "graph.windows.net",
  "basePath": "/myorganization",
  "definitions": {
    "contact": {
      "properties": {
        "objectType": {
          "type": "string",
          "readOnly": "true"
        },
        "provisioningErrors": {
          "type": "array",
          "items": {
            "schema": {
              "$ref": "#/~1array/1"
            }
          },
          "readOnly": "true"
        }
      }
    },
    "ProvisioningError": {
      "properties": {
        "errorDetail": {
          "type": "string",
          "readOnly": "true"
        }
      }
    }
  },
  "/array": [
    {
      "properties": {
        "errorDetail": {
          "type": "string",
          "readOnly": "true"
        }
      }
    },
    {
      "properties": {
        "errorDetail": {
          "type": "string",
          "readOnly": "true"
        }
      }
    }
  ]
}
