<div ng-switch="contentType">
  <div ng-switch-when="namespace">
    <div class="col-sm-9 col-md-10">
      <article>
        <div id="article-header">
          <a ng-if="model.map && model.map.remote" ng-href="{{getImproveTheDocHref(model.map)}}" class="btn btn-primary pull-right mobile-hide">
            <!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc
          </a>
          <a ng-if="model.source && model.source.remote" class="btn btn-primary pull-right mobile-hide" ng-href={{getViewSourceHref(model)}}>
            <!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source
          </a>
          <h1>{{model.type}} {{getDisplayName(model, lang)}}</h1>
          <section>
            <markdown data="model.map.override.summary || model.summary"></markdown>
          </section>
          <section ng-if="model.map.content">
            <h5>Remarks</h5>
            <markdown data="model.map.content"></markdown>
          </section>
        </div>
        <section id="article-body">
          <div class="" ng-attr-id="{{child.htmlId}}" ng-repeat="child in model.items">
            <h3 class="">{{child.value.description}}</h3>
            <div ng-attr-id="{{item.htmlId}}" class="" ng-repeat="item in child.items">
              <div class="item-section">
                <div class="item-header">
                  <a class="item-toggle" href="{{getLinkHref(item.href)}}">
                    <div class="item-title">
                      {{getDisplayName(item, lang)}}
                    </div>
                  </a>
                </div>
                <div class="item-summary">
                  <markdown data="item.map.override.summary || item.summary"></markdown>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hidden-xs col-sm-3 col-md-2" ng-if="affixModel">
      <affix-bar title="In this article" id="docs-subnavbar" data="affixModel">
      </affix-bar>
    </div>
  </div>
  <div ng-switch-when="class">
    <div class="col-md-10">
      <article>
        <div id="article-header">
          <a ng-if="model.map && model.map.remote" ng-href="{{getImproveTheDocHref(model.map)}}" class="btn btn-primary pull-right mobile-hide">
            <!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc
          </a>
          <a ng-if="model.source && model.source.remote" class="btn btn-primary pull-right mobile-hide" ng-href="{{getViewSourceHref(model)}}">
            <!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source
          </a>
          <h1>{{model.type}} {{model.name}}</h1>
          <section>
            <markdown data="model.map.override.summary || model.summary"></markdown>
            <div class="splitter"></div>
            <markdown data="model.map.content"></markdown>
          </section>
          <section id="metadata_table" class="inheritance">
            <div class="" ng-if="model.inheritanceModel">
              <h5>Inheritance</h5>
              <hr>
              <div class="">
                <div ng-repeat="inhe in model.inheritanceModel">
                  <span ng-repeat="i in getNumber($index) track by $index"></span>↳
                  <composite-link ng-data="inhe" ng-language="lang"></composite-link>
                </div>
                <div class="">
                  <span ng-repeat="i in getNumber(model.inheritanceModel.length) track by $index"></span>↳
                  <a class="disable">{{model.name}}</a>
                </div>
              </div>
            </div>
          </section>
          <div ng-if="model.namespace">
            <b>Namespace</b>: {{model.namespace}}
          </div>
          <div ng-if="model.assemblies && model.assemblies.length === 1"><b>Assembly</b>: {{model.assemblies[0]}}.dll </div>
          <div ng-if="model.assemblies && model.assemblies.length > 1"><b>Assemblies</b>:<div ng-repeat="asem in model.assemblies"> {{asem}}.dll;</div> </div>
          <div class="" ng-if="model.syntax">
            <div class="declaration">
              <h5>Syntax</h5>
              <pre><code ng-language="lang" data="getSyntax(model.syntax, lang)"></code></pre>
            </div>
            <div class="typeParameters" ng-if="(model.syntax.typeParameters && model.syntax.typeParameters.length >0)">
              <h5>Type Parameters</h5>
              <table>
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="par in model.syntax.typeParameters">
                    <td scope="row">
                      <em class="term">{{par.id}}</em>
                    </td>
                    <td>
                      <div class="definition">
                        <p class="para">
                          <markdown data="par.description"></markdown>
                        </p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <section ng-if="model.exceptions">
            <h5>Exceptions</h5>
            <table>
              <thead>
                <tr>
                  <td>Exception</td>
                  <td>Description</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="par in model.exceptions">
                  <td scope="row">
                    <composite-link ng-data="par.typeModel" ng-language="lang"></composite-link>
                  </td>
                  <td>
                    <div class="definition">
                      <p class="para">
                        <markdown data="par.description"></markdown>
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <section ng-if="model.map.override.remarks || model.remarks">
            <h5>Remarks</h5>
            <markdown data="model.map.override.remarks || model.remarks"></markdown>
          </section>
        </div>
        <section id="article-body">
          <div ng-if="model.items">
            <a ng-click="expandAll(model, true);">Expand All</a>
            <span class="divider">|</span>
            <a ng-click="expandAll(model, false);">Collapse All</a>
          </div>
          <div class=""ng-attr-id="{{child.htmlId}}" ng-repeat="child in model.items">
            <h3 class="" >{{child.value.description}}</h3>
            <div class="" ng-attr-id="{{item.htmlId}}" ng-repeat="item in child.items">
              <div class="item-section">
                <div class="item-header">
                  <div class="pull-right mobile-hide">
                    <a ng-if="item.source && item.source.remote"  ng-href="{{getViewSourceHref(item)}}">View Source</a>
                    <span ng-if="item.map && item.map.remote">
                      <span class="divider">|</span>
                      <a ng-href="{{getImproveTheDocHref(item.map)}}">Improve this Doc</a>
                    </span>
                  </div>
                  <a class="item-toggle" ng-init="item.showDetail = true" ng-click="item.showDetail = !item.showDetail">
                    <div class="item-title">
                      {{item.name}}
                    </div>
                  </a>
                </div>
                <div class="item-summary">
                  <markdown data="item.map.override.summary || item.summary"></markdown>
                </div>
                <div class="item-collapsible" ng-show="item.showDetail">
                  <markdown data="item.map.content"></markdown>
                  <div class="" ng-if="item.syntax">
                    <div class="declaration">
                      <h5>Declaration</h5>
                      <pre><code ng-language="lang" data="getSyntax(item.syntax, lang)"></code></pre>
                    </div>
                    <div class="typeParameters" ng-if="(item.syntax.typeParameters && item.syntax.typeParameters.length >0)">
                      <h5>Type Parameters</h5>
                      <table>
                        <thead>
                          <tr>
                            <td>Name</td>
                            <td>Description</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="par in item.syntax.typeParameters">
                            <td scope="row">
                              <em class="term">{{par.id}}</em>
                            </td>
                            <td>
                              <div class="definition">
                                <p class="para">
                                  <markdown data="par.description"></markdown>
                                </p>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="parameters" ng-if="(item.syntax.parameters && item.syntax.parameters.length >0)">
                      <h5>Parameters</h5>
                      <table>
                        <thead>
                          <tr>
                            <td>Type</td>
                            <td>Name</td>
                            <td>Description</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="par in item.syntax.parameters">
                            <td scope="row">
                              <composite-link ng-data="par.typeModel" ng-language="lang"></composite-link>
                            </td>
                            <td scope="row">
                              <em class="term">{{par.id}}</em>
                            </td>
                            <td>
                              <div class="definition">
                                <p class="para">
                                  <markdown data="par.description"></markdown>
                                </p>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="Returns" ng-if="item.syntax.return">
                      <h5 ng-if="item.type === 'Property'">Property Value</h5>
                      <h5 ng-if="item.type !== 'Property'">Returns</h5>
                      <table>
                        <thead>
                          <tr>
                            <td>Type</td>
                            <td>Description</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">
                              <composite-link ng-data="item.syntax.return.typeModel" ng-language="lang"></composite-link>
                            </td>
                            <td>
                              <div class="definition">
                                <p class="para">
                                  <markdown data="item.syntax.return.description"></markdown>
                                </p>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div ng-if="item.exceptions">
                      <h5>Exceptions</h5>
                      <table>
                        <thead>
                          <tr>
                            <td>Exception</td>
                            <td>Description</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="par in item.exceptions">
                            <td scope="row">
                              <composite-link ng-data="par.typeModel" ng-language="lang"></composite-link>
                            </td>
                            <td>
                              <div class="definition">
                                <p class="para">
                                  <markdown data="par.description"></markdown>
                                </p>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div ng-if="item.map.override.remarks || item.remarks">
                      <h5>Remarks</h5>
                      <markdown data="item.map.override.remarks || item.remarks"></markdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hidden-sm col-md-2" ng-if="affixModel">
      <affix-bar title="In this article" id="docs-subnavbar" data="affixModel">
      </affix-bar>
    </div>
  </div>
  <div ng-switch-when="error">
    <h1>Oops!</h1>
    <p>The page you requested does not exist. Perhaps you were looking for something else...</p>
  </div>
  <div ng-switch-default>
  </div>
</div>