<div ng-if="toc" class="sidenav">
    <a class="btn toc-toggle" ng-init="tocToggle = false" ng-click="tocToggle = !tocToggle">Show / Hide Table of Contents</a>
    <div ng-hide="tocToggle" class="sidetoggle">
      <div class="sidefilter">
        <form ng-class="{focus:focus}" class="toc-filter" ng-submit="submit()">
          <span class="glyphicon glyphicon-filter filter-icon"></span>
          <input type="text" placeholder="Enter here to filter..." ng-focus="focus=true" ng-blur="focus=false" ng-change="filteredItems(f)"
          ng-model="f" autocomplete="off" />
        </form>
      </div>
      <div class="sidetoc">
        <ul class="nav nav-stacked sidetoc-lvl-1">
          <li ng-repeat="navGroup in toc.content track by $index" ng-class="tocClass(navGroup)" ng-show="!navGroup.hide">
            <!--<a ng-click="isCollapsed=! isCollapsed" class="sidetoc-expand" ng-show="navGroup.items">
            <span ng-hide="isCollapsed" class="caret"></span>
            <span ng-hide="!isCollapsed" class="caret caret-side"></span>
          </a>-->
            <a ng-href="{{getTocHref(navGroup.href)}}" class="sidetoc-heading">{{ navGroup.uid || navGroup.name}}</a>
            <div collapse="isCollapsed">
              <ul ng-if="navGroup.items" class="nav nav-stacked sidetoc-lvl-2">
                <li ng-repeat="navItem in navGroup.items track by $index" ng-class="tocClass(navItem)" ng-show="!navItem.hide">
                  <a ng-class="linkClass(navItem)" ng-href="{{getTocHref(navItem.href)}}">{{navItem.name}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
<div ng-class="{'grid-right': toc}" class="article row">
  <div ng-switch="contentType">
    <markdown-content ng-switch-when="markdown" get-map="true" ng-navbar="navbar" ng-model="contentPath" ng-cloak autoscroll></markdown-content>
    <yaml-content ng-switch-when="yaml" ng-language="'csharp'" ng-navbar="navbar" content-type="{{contentType}}" get-map="true" ng-model="contentPath"
    ng-cloak autoscroll></yaml-content>
    <table ng-switch-when="toc">
      <tr ng-repeat="item in toc.content">
        <td>
          <a ng-href="{{getTocHref(item.href)}}">{{item.name}}</a>
        </td>
      </tr>
    </table>
    <div ng-switch-when="error">
      <h1>Oops!</h1>
      <p>The page you requested does not exist. Perhaps you were looking for something else...</p>
    </div>
    <div ng-switch-default>
    </div>
  </div>
</div>