<div class="topnav navbar navbar-inverse navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="logo.png" alt="your logo" height="50px"></img></a>
    </div>
    <div class="navbar-collapse" collapse="!isCollapsed">
      <ul class="nav navbar-nav">
        <li ng-repeat="navGroup in model track by $index" ng-if="model" ng-class="navClass(navGroup)">
          <a ng-href="{{getNavHref(navGroup.href)}}" class="">{{ navGroup.name }}</a>
        </li>
      </ul>
    </div>
    <!-- comment out search box as it is not currently supported <form ng-class="{focus:focus}" class="navbar-search col-md-3
    docs-search" ng-submit="submit()">
            <span class="glyphicon glyphicon-search search-icon"></span>
            <input type="text"
                   name="as_q"
                   class="search-query"
                   placeholder="Click or press / to search"
                   ng-focus="focus=true"
                   ng-blur="focus=false"
                   ng-change="search(q)"
                   ng-model="q"
                   docs-search-input
                   autocomplete="off" />
          </form> -->
  </div>
</div>
<div class="subnav navbar navbar-default">
  <div class="container">
    <ul class="breadcrumb">
      <li ng-repeat="crumb in breadcrumb">
        <a ng-href="{{::getBreadCrumbHref(crumb.url)}}">{{::crumb.name}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="grad-top"></div>
<!--<div class="search-results-container" ng-show="hasResults">
        <div class="container">
          <div class="search-results-frame">
            <div ng-repeat="(key, value) in results" class="search-results-group" ng-class="colClassName + ' col-group-' + key">
              <h4 class="search-results-group-heading">{{ key }}</h4>
              <div class="search-results">
                <div ng-repeat="item in value" class="search-result">
                  - <a ng-click="hideResults()" ng-href="#{{ item.path }}">{{ item.name }}</a>
                </div>
              </div>
            </div>
          </div>
          <a href="" ng-click="hideResults()" class="search-close">
            <span class="glyphicon glyphicon-remove search-close-icon"></span> Close
          </a>
        </div>
      </div>-->
<!-- Temp disable it: what to show for conceptual? <div class="sup-header">
        <div class="container main-grid main-header-grid">
          <div class="grid-left">
            <div ng-controller="DocsVersionsCtrl" class="picker version-picker">
              <select ng-options="v as ('v' + v.version + (v.isSnapshot ? ' (snapshot)' : '')) group by getGroupName(v) for v in docs_versions"
                      ng-model="docs_version"
                      ng-change="jumpToDocsVersion(docs_version)"
                      class="docs-version-jump">
              </select>
            </div>
          </div>
        </div>
      </div>-->