{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  <head>
    <link rel="stylesheet" href="{{_rel}}styles/docfx.vendor.css">
    <link rel="stylesheet" href="{{_rel}}styles/default.css">
    <link rel="stylesheet" href="{{_rel}}styles/main.css">
  </head>
  <body>
    <article>
      {{!body}}
    </article>
    <script type="text/javascript" src="{{_rel}}styles/docfx.vendor.js"></script>
    <script type="text/javascript" src="{{_rel}}styles/docfx.js"></script>
    <script type="text/javascript" src="{{_rel}}styles/main.js"></script>
  </body>
</html>
