{{#list-empty.0}} list="{{#list-empty}} {{.}}{{/list-empty}}" {{/list-empty.0}}
{{#list-empty-string.0}} list="{{#list-empty-string}} {{.}}{{/list-empty-string}}" {{/list-empty-string.0}}
{{#list.0}} list="{{#list}} {{.}}{{/list}}" {{/list.0}}
{{#list.length}} list="{{#list}} {{.}}{{/list}}" {{/list.length}}
{{#parent.0}}{{#parent}}{{child.0}}{{/parent}}{{/parent.0}}
