{{#list-empty.0}} list="{{#list-empty}} {{.}}{{/list-empty}}" {{/list-empty.0}}
{{#list.-1}} list="{{#list}} {{.}}{{/list}}" {{/list.-1}}
{{#list.0}} list="{{#list}} {{.}}{{/list}}" {{/list.0}}
{{#list.length}} list="{{#list}} {{.}}{{/list}}" {{/list.length}}
