<!DOCTYPE html>

<html lang="en" data-amd-enabled="true" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <link rel="canonical" href="https://vscomint.tfsallin.net/en-us/integrate/extensions/overview" />
  <title>Overview of extensions for Visual Studio Online</title>

  <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://vscomint.tfsallin.net/Combined.css?resources=0:OverridesForBootstrap,1:Layout,2:OALayout,1:OA_VStudio,1:Header.1,1:ImageSprite,2:LinkList,2:TocNavigation,3:SimpleLeftNav.1,0:vs,0:OverridesForHighlightJs,1:Footer.1,2:FooterSock;/Areas/Epx/Content/Css:0,/Areas/VisualStudio/Themes/VStudio/Content:1,/Areas/Epx/Themes/Base/Content:2,/Areas/VisualStudio/Themes/VStudio//Content:3&amp;amp;v=F36293D6D7FDC313C06E7124391139C2"/>
  <meta property="docfx:toc" content="{{_tocPath}}">
  <style>
    ul.tocLevel2{
      display: none;
    }
    ul.tocLevel2.current{
      display: block!important;
    }
    li.current ul{
      display: block!important;
    }
    ul[class^="tocLevel"] > li {
      margin-left: 22px!important;
    }

    @media screen and (max-width: 1024px) {
      #threeColumns > .left {
        display: inline-block;
      }
      #threeColumns > .main {
        width: calc(100% - 489px);
        margin-right: 20px;
        display: inline-block;
        min-height: 300px;
      }
    }
  </style>
</head>

<body class="Chrome">
  <div>
    <input type="hidden" id="theme" value="visualstudio" />
    <input type="hidden" id="isHeaderBleeding" value="true" />
    <div id="ux-header" class=" ltr vsIntegrate">
      <div class="upperBand">
        <div class="upperBandContent">
          <div class="left">
            <div data-fragmentName="SiteLogoLink" id="Fragment_SiteLogoLink" xmlns="http://www.w3.org/1999/xhtml">
              <a href="https://vscomint.tfsallin.net/integrate" title="Visual Studio Integrate" id="SiteLogoLink_2642_1" xmlns="http://www.w3.org/1999/xhtml">Integrate</a>
            </div>
          </div>
          <div class="right">
            <div data-fragmentName="SubscriptionsLink" id="Fragment_SubscriptionsLink" xmlns="http://www.w3.org/1999/xhtml">
              <a href="https://int.msdn.microsoft.com/subscriptions/manage/hh442900" title="Click to access your MSDN subscription benefits"
              id="SubscriptionsLink_2642_3" xmlns="http://www.w3.org/1999/xhtml">MSDN Subscriptions</a>
            </div>
            <div id="signIn">
              <a class="scarabLink" href="https://app.spsfsint3.tfsallin.net/profile/view" title="Sign in">Sign in</a></div>
            <div data-fragmentName="SearchBox" id="Fragment_SearchBox" xmlns="http://www.w3.org/1999/xhtml">
              <div class="SearchBox">
                <form id="HeaderSearchForm" name="HeaderSearchForm" method="get">
                  <input id="HeaderSearchTextBox" name="query" type="text" maxlength="200" onfocus="Epx.Controls.SearchBox.watermarkFocus(this, this.title, 'SearchBoxOnFocus')"
                  onblur="return Epx.Controls.SearchBox.watermarkBlur(this, this.title, 'SearchBoxOnFocus')" />
                  <input id="RefinementId" name="refinement" type="hidden" value="236" />
                  <button id="HeaderSearchButton" value="" type="submit" class="header-search-button"></button>
                </form>
                <a tabindex="0" class="metroSearchButton" onclick="Epx.Controls.SearchBox.metroButtonClick(this)" title="Search here"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lowerBand">
        <div class="lowerBandContent">
          <div data-fragmentName="HeaderToc" id="Fragment_HeaderToc" xmlns="http://www.w3.org/1999/xhtml">
            <nav>
              <ul class="dev-navigation">
                <li class="nav-expander">
                  <a href="https://vscomint.tfsallin.net/integrate/explore/explore-overview-vsi">Explore</a>
                </li>
                <li class="nav-expander">
                  <a class="trigger" href="#">Documentation</a>
                  <div class="nav-exdpander-wrapper">
                    <div class="nav-expander-div">
                      <div>
                        <ul>
                          <li class="nav-has-submenu default">
                            <a href="#">
                              <span>Visual Studio Online</span>
                            </a>
                            <div class="nav-submenu">
                              <div class="ListOfLinkLists">
                                <div class="listItems">

                                  <div class="linkList">
                                    <div class="linkListTitle">REST API</div>
                                    <ul class="links">
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/get-started/rest/basics" id="HeaderToc_2642_34" xmlns="http://www.w3.org/1999/xhtml">Basics</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/get-started/auth/overview" id="HeaderToc_2642_35" xmlns="http://www.w3.org/1999/xhtml">Authentication</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/get-started/auth/oauth" id="HeaderToc_2642_36" xmlns="http://www.w3.org/1999/xhtml">Authorize access with OAuth 2.0</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/get-started/rest/versions-and-history" id="HeaderToc_2642_37" xmlns="http://www.w3.org/1999/xhtml">Versions </a>
                                      </li>
                                    </ul>
                                  </div>

                                  <div class="linkList">
                                    <div class="linkListTitle">Service Hooks</div>
                                    <ul class="links">
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/get-started/service-hooks/create-subscription" id="HeaderToc_2642_38" xmlns="http://www.w3.org/1999/xhtml">Create subscriptions</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/get-started/service-hooks/consumers" id="HeaderToc_2642_39" xmlns="http://www.w3.org/1999/xhtml">Consumers and actions reference</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/get-started/service-hooks/events" id="HeaderToc_2642_40" xmlns="http://www.w3.org/1999/xhtml">Events reference</a>
                                      </li>
                                    </ul>
                                  </div>

                                  <div class="linkList">
                                    <div class="linkListTitle">Extensions</div>
                                    <ul class="links">
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/extensions/overview" id="HeaderToc_2642_45" xmlns="http://www.w3.org/1999/xhtml">Overview</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/extensions/get-started/visual-studio" id="HeaderToc_2642_46" xmlns="http://www.w3.org/1999/xhtml">Get started</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/extensions/samples/explore" id="HeaderToc_2642_47" xmlns="http://www.w3.org/1999/xhtml">Samples</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/extensions/support/release-notes" id="HeaderToc_2642_49" xmlns="http://www.w3.org/1999/xhtml">Release notes</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="nav-has-submenu">
                            <a href="#">
                              <span>Visual Studio</span>
                            </a>
                            <div class="nav-submenu">
                              <div class="ListOfLinkLists">
                                <div class="listItems">

                                  <div class="linkList">
                                    <ul class="links">
                                      <li>
                                        <a href="https://int.msdn.microsoft.com/library/dd885119.aspx" id="HeaderToc_2642_10" xmlns="http://www.w3.org/1999/xhtml">Developing Visual Studio Extensions</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="nav-has-submenu">
                            <a href="#">
                              <span>Team Foundation Server </span>
                            </a>
                            <div class="nav-submenu">
                              <div class="ListOfLinkLists">
                                <div class="listItems">

                                  <div class="linkList">
                                    <ul class="links">
                                      <li>
                                        <a href="https://int.msdn.microsoft.com/en-us/library/bb130146(v=vs.120).aspx" id="HeaderToc_2642_42" xmlns="http://www.w3.org/1999/xhtml">Extending Team Foundation</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-expander">
                  <a class="trigger" href="#">API Reference</a>
                  <div class="nav-exdpander-wrapper">
                    <div class="nav-expander-div">
                      <div>
                        <ul>
                          <li class="nav-has-submenu default">
                            <a href="#">
                              <span>Visual Studio Online</span>
                            </a>
                            <div class="nav-submenu">
                              <div class="ListOfLinkLists">
                                <div class="listItems">

                                  <div class="linkList">
                                    <ul class="links">
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/overview" id="HeaderToc_2642_11" xmlns="http://www.w3.org/1999/xhtml">Overview</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/build/overview" id="HeaderToc_2642_14" xmlns="http://www.w3.org/1999/xhtml">Build</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/load-test/overview" id="HeaderToc_2642_16" xmlns="http://www.w3.org/1999/xhtml">Cloud Load Test</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/git/overview" id="HeaderToc_2642_15" xmlns="http://www.w3.org/1999/xhtml">Git</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/hooks/overview" id="HeaderToc_2642_17" xmlns="http://www.w3.org/1999/xhtml">Service hooks</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/shared/overview" id="HeaderToc_2642_12" xmlns="http://www.w3.org/1999/xhtml">Shared Services</a>
                                      </li>
                                    </ul>
                                  </div>

                                  <div class="linkList">
                                    <ul class="links">
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/chat/overview" id="HeaderToc_2642_30" xmlns="http://www.w3.org/1999/xhtml">Team room</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/test/overview" id="HeaderToc_2642_31" xmlns="http://www.w3.org/1999/xhtml">Test management</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/tfs/overview" id="HeaderToc_2642_44" xmlns="http://www.w3.org/1999/xhtml">Projects and teams</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/tfvc/overview" id="HeaderToc_2642_32" xmlns="http://www.w3.org/1999/xhtml">Version control</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/work/overview" id="HeaderToc_2642_48" xmlns="http://www.w3.org/1999/xhtml">Work</a>
                                      </li>
                                      <li>
                                        <a href="https://vscomint.tfsallin.net/integrate/api/wit/overview" id="HeaderToc_2642_33" xmlns="http://www.w3.org/1999/xhtml">Work item tracking</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="nav-has-submenu">
                            <a href="#">
                              <span>Visual Studio</span>
                            </a>
                            <div class="nav-submenu">
                              <div class="ListOfLinkLists">
                                <div class="listItems">

                                  <div class="linkList">
                                    <ul class="links">
                                      <li>
                                        <a href="https://int.msdn.microsoft.com/library/bb166217(v=vs.140).aspx" id="HeaderToc_2642_22" xmlns="http://www.w3.org/1999/xhtml">Visual Studio SDK Reference</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="nav-has-submenu">
                            <a href="#">
                              <span>Team Foundation Server</span>
                            </a>
                            <div class="nav-submenu">
                              <div class="ListOfLinkLists">
                                <div class="listItems">

                                  <div class="linkList">
                                    <ul class="links">
                                      <li>
                                        <a href="https://int.msdn.microsoft.com/en-us/library/bb130146.aspx#clientapireference" id="HeaderToc_2642_24" xmlns="http://www.w3.org/1999/xhtml">Client Object Model Reference</a>
                                      </li>
                                      <li>
                                        <a href="https://int.msdn.microsoft.com/en-us/library/bb130146.aspx#serverapireference" id="HeaderToc_2642_25" xmlns="http://www.w3.org/1999/xhtml">Server Object Model Reference</a>
                                      </li>
                                      <li>
                                        <a href="https://int.msdn.microsoft.com/en-us/library/bb130146.aspx#buildapireference" id="HeaderToc_2642_26" xmlns="http://www.w3.org/1999/xhtml">Build Service Object Model Reference</a>
                                      </li>
                                      <li>
                                        <a href="https://int.msdn.microsoft.com/en-us/library/dn237344.aspx" id="HeaderToc_2642_27" xmlns="http://www.w3.org/1999/xhtml">Team Project XML Reference</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-expander">
                  <a href="https://vscomint.tfsallin.net/integrate/support/support-overview-vsi">Support</a>
                </li>
              </ul>
            </nav>
          </div>
          <div data-fragmentName="GetStartedLink" id="Fragment_GetStartedLink" xmlns="http://www.w3.org/1999/xhtml">
            <a href="http://go.microsoft.com/fwlink/?LinkId=309297&amp;clcid=0x409&amp;slcid=0x409" title="Free Visual Studio trial"
            id="GetStartedLink_2642_6" xmlns="http://www.w3.org/1999/xhtml">Free Visual Studio trial</a>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="simpleLeftNav">
        <div class="leftNavigation">
          <div class="TocNavigationVertical" id="toc">
          </div>
        </div>
        <div class="mainContent">
          <div id="oaContent">
            <div class="content">
              {{{ conceptual }}}
            </div>
          </div>
        </div>
        <input type="hidden" id="proxyUrl" value="https://apiexproxy.azurewebsites.net/svc" />
        <input type="hidden" id="playgroundUrl" value="https://apisandbox.msdn.microsoft.com/" />
        <input type="hidden" id="ajaxTimeout" value="10000" />
        <input type="hidden" id="supportedLanguagesForPlayground" value="javascript;c#" />
        <input type="hidden" id="authorizationHeader" value="Bearer {token}" />
      </div>
    </div>
    <input name="__RequestVerificationToken" type="hidden" value="5bdMDdduftAdv5oTfL2JDGDWY9EvaJScnz8oZbzv4TfFELMTXA1l7f1BgkxCfz47hhZb7wejlGs_lFDnGwxQu0koPfo1"
    />
    <input id="ratingSubmitUrl" type="hidden" value="https://vscomint.tfsallin.net/en-us/feedback/add/2283" />
    <input id="isTopicRated" type="hidden" value="false" />
    <input id="onePubTopicId" type="hidden" value="2283" />




    <div id="ux-footer" class="ltr">

      <div id="footerSock" class="">
        <div id="footerSockInner">
          <a name="feedback"></a>

          <div class="rating">
            <div id="ratingSection1">
              <div class="title">
                Was this page helpful?
              </div>
              <div class="description">
                Your feedback about this content is important.
                <br />Let us know what you think.
              </div>
              <div class="buttons">
                <button class="button" id="ratingYes" aria-label="Yes, this page was helpful">Yes</button>
                <button class="button" id="ratingNo" aria-label="No, this page was not helpful">No</button>
              </div>
              <input id="ratingValue" type="hidden" value="" />
            </div>
            <div id="ratingSection2">
              <div class="title">
                Additional feedback?
              </div>
              <textarea id="ratingText" rows="6" cols="" maxlength="1500"></textarea>
              <div class="counter right">
                <span id="feedbackTextCounter">1500</span> characters remaining
              </div>
              <div class="buttons left">
                <button class="button" id="ratingSubmit" aria-label="Submit my additional feedback">Submit</button>
                <button class="button" id="ratingSkipThis" aria-label="Skip additional feedback">Skip this</button>
              </div>
            </div>
            <div id="ratingSection3">
              <div class="title">
                Thank you!
              </div>
              <div class="description">
                We appreciate your feedback.
              </div>
            </div>


            <div id="contentFeedbackQAContainer" style="display: none;"></div>
          </div>

          <div class="clear"></div>
        </div>
      </div>

      <div class="footerContainer">
        <div id="fourColumnFooter">
          <div data-fragmentName="Column1" id="Fragment_Column1" xmlns="http://www.w3.org/1999/xhtml">
            <div class="LinkWithImageList">
              <div class="listTitle">Follow us</div>
              <div class="listItems">
                <div class="LinkWithImage leftImage">
                  <a id="Column1_2819_5" href="http://www.facebook.com/microsoftvisualstudio">
                    <img id="FooterIcon_SOCIAL_facebook" src="https://vscomint.tfsallin.net/en-us/integrate/ux/dn683834.FooterIcon_SOCIAL_facebook.jpg?isMtpsRequest=true&amp;HideProfileLink=true&amp;HideProfileText=true&amp;version=1"
                    xmlns="" />
                    <span>Facebook</span>
                  </a>
                </div>
                <div class="LinkWithImage leftImage">
                  <a id="Column1_2819_6" href="http://twitter.com/visualstudio">
                    <img id="FooterIcon_SOCIAL_twitter" src="https://vscomint.tfsallin.net/en-us/integrate/ux/dn683834.FooterIcon_SOCIAL_twitter.png?isMtpsRequest=true&amp;HideProfileLink=true&amp;HideProfileText=true&amp;version=1"
                    xmlns="" />
                    <span>Twitter</span>
                  </a>
                </div>
                <div class="LinkWithImage leftImage">
                  <a id="Column1_2819_7" href="http://www.youtube.com/user/VisualStudio">
                    <img id="FooterIcon_SOCIAL_youtube" src="https://vscomint.tfsallin.net/en-us/integrate/ux/dn683834.FooterIcon_SOCIAL_youtube.png?isMtpsRequest=true&amp;HideProfileLink=true&amp;HideProfileText=true&amp;version=1"
                    xmlns="" />
                    <span>YouTube</span>
                  </a>
                </div>
                <div class="LinkWithImage leftImage">
                  <a id="Column1_2819_8" href="http://sxp.microsoft.com/feeds/msdntn/VSUpdates">
                    <img id="FooterIcon_SOCIAL_rss" src="https://vscomint.tfsallin.net/en-us/integrate/ux/dn683834.FooterIcon_SOCIAL_rss.png?isMtpsRequest=true&amp;HideProfileLink=true&amp;HideProfileText=true&amp;version=1"
                    xmlns="" />
                    <span>News RSS</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div data-fragmentName="Column2" id="Fragment_Column2" xmlns="http://www.w3.org/1999/xhtml">
            <div class="ListOfLinkLists">
              <div class="listItems">

                <div class="linkList">
                  <div class="linkListTitle">Visual Studio Products</div>
                  <ul class="links">
                    <li>
                      <a href="https://vscomint.tfsallin.net/products/visual-studio-with-msdn-overview-vs" id="Column2_2819_50" xmlns="http://www.w3.org/1999/xhtml">Visual Studio with MSDN</a>
                    </li>
                    <li>
                      <a href="https://vscomint.tfsallin.net/products/what-is-visual-studio-online-vs" id="Column2_2819_51" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online</a>
                    </li>
                    <li>
                      <a href="https://vscomint.tfsallin.net/products/tfs-overview-vs" id="Column2_2819_52" xmlns="http://www.w3.org/1999/xhtml">Team Foundation Server</a>
                    </li>
                    <li>
                      <a href="https://vscomint.tfsallin.net/products/visual-studio-express-vs" id="Column2_2819_53" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Express</a>
                    </li>
                    <li>
                      <a href="https://vscomint.tfsallin.net/products/compare-visual-studio-products-vs" id="Column2_2819_54" xmlns="http://www.w3.org/1999/xhtml">Compare Visual Studio offerings</a>
                    </li>
                  </ul>
                </div>

                <div class="linkList">
                  <div class="linkListTitle">Downloads</div>
                  <ul class="links">
                    <li>
                      <a href="https://vscomint.tfsallin.net/en-us/downloads/download-visual-studio-vs#d-vs-sdk" id="Column2_2819_55" xmlns="http://www.w3.org/1999/xhtml">Visual Studio SDK</a>
                    </li>
                    <li>
                      <a href="https://vscomint.tfsallin.net/en-us/downloads/download-visual-studio-vs#d-vs-shell" id="Column2_2819_56" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Shell</a>
                    </li>
                    <li>
                      <a href="https://vscomint.tfsallin.net/en-us/downloads/download-visual-studio-vs#d-vs-modeling" id="Column2_2819_57" xmlns="http://www.w3.org/1999/xhtml">Modeling SDK for Visual Studio 2013</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div data-fragmentName="Column3" id="Fragment_Column3" xmlns="http://www.w3.org/1999/xhtml">
            <div class="ListOfLinkLists">
              <div class="listItems">

                <div class="linkList">
                  <div class="linkListTitle">Find Add-ins, Products, and Solutions</div>
                  <ul class="links">
                    <li>
                      <a href="https://vsipprogram.com/Directory" id="Column3_2819_41" xmlns="http://www.w3.org/1999/xhtml">Partner Directory</a>
                    </li>
                    <li>
                      <a href="http://vs.componentsource.com/" id="Column3_2819_42" xmlns="http://www.w3.org/1999/xhtml">Partner Marketplace</a>
                    </li>
                    <li>
                      <a href="http://ppe.visualstudiogallery.msdn.microsoft.com/" id="Column3_2819_43" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Gallery</a>
                    </li>
                    <li>
                      <a href="http://azure.microsoft.com/en-us/gallery/store/" id="Column3_2819_44" xmlns="http://www.w3.org/1999/xhtml">Microsoft Azure Store</a>
                    </li>
                  </ul>
                </div>

                <div class="linkList">
                  <div class="linkListTitle">VSIP Program</div>
                  <ul class="links">
                    <li>
                      <a href="https://vsipprogram.com/About" id="Column3_2819_16" xmlns="http://www.w3.org/1999/xhtml">About VSIP</a>
                    </li>
                    <li>
                      <a href="https://vsipprogram.com/Benefits" id="Column3_2819_17" xmlns="http://www.w3.org/1999/xhtml">VSIP Benefits</a>
                    </li>
                    <li>
                      <a href="https://vsipprogram.com/Join" id="Column3_2819_18" xmlns="http://www.w3.org/1999/xhtml">Join VSIP</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div data-fragmentName="Column4" id="Fragment_Column4" xmlns="http://www.w3.org/1999/xhtml">
            <div class="ListOfLinkLists">
              <div class="listItems">

                <div class="linkList">
                  <div class="linkListTitle">Community and Support</div>
                  <ul class="links">
                    <li>
                      <a href="http://social.msdn.microsoft.com/Forums/vstudio/en-US/home?forum=vsx" id="Column4_2819_21" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Extensibility Forum</a>
                    </li>
                    <li>
                      <a href="http://blogs.msdn.com/b/visualstudio/archive/tags/extensibility/" id="Column4_2819_22" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Extensibility Blog </a>
                    </li>
                    <li>
                      <a href="https://vscomint.tfsallin.net/support/support-overview-vs" id="Column4_2819_58" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online support</a>
                    </li>
                    <li>
                      <a href="http://visualstudio.uservoice.com/" id="Column4_2819_23" xmlns="http://www.w3.org/1999/xhtml">Submit an idea</a>
                    </li>
                    <li>
                      <a href="https://connect.microsoft.com/VisualStudio/feedback/CreateFeedback.aspx" id="Column4_2819_24" xmlns="http://www.w3.org/1999/xhtml">Report a bug</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="baseFooter">
          <div data-fragmentName="BaseFooterLinks" id="Fragment_BaseFooterLinks" xmlns="http://www.w3.org/1999/xhtml">

            <div class="linkList">
              <ul class="links horizontal">
                <li>
                  <a href="https://vscomint.tfsallin.net/integrate/support/support-overview-vsi" id="BaseFooterLinks_2819_29" xmlns="http://www.w3.org/1999/xhtml">Contact us</a>
                </li>
                <li>
                  <a href="https://go.microsoft.com/fwlink/?LinkID=266231&amp;clcid=0x409" id="BaseFooterLinks_2819_30" xmlns="http://www.w3.org/1999/xhtml">Privacy</a>
                </li>
                <li>
                  <a href="https://vscomint.tfsallin.net/support/terms-of-service-vs" id="BaseFooterLinks_2819_31" xmlns="http://www.w3.org/1999/xhtml">Terms of use</a>
                </li>
                <li>
                  <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx" id="BaseFooterLinks_2819_32" xmlns="http://www.w3.org/1999/xhtml">Trademarks</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="rightBaseFooter">
            © 2015 Microsoft
            <span class="microsoftLogo" title="Microsoft"></span>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.0/bootstrap.min.js"></script>
  <script>
    'use strict';

    (function(){
      var tocPath = $("meta[property='docfx\\:toc'").attr("content");
      if (tocPath){
        tocPath = tocPath.replace(/\\/g, '/');
        var tocRel = "";
        var index = tocPath.lastIndexOf('/');
        if (index > -1){
          tocRel = tocPath.substring(0, index + 1);
        }
        $(".TocNavigationVertical").load(tocPath+" #toc>ul", function(){
          // Update href to relative to current page
          var activeAnchor = null;
          $(".TocNavigationVertical").find('a[href]').each(function(i, e){
            var href = $(e).attr("href");
              if (isRelativePath(href)) {
                var normalizedHref = tocRel + href;
                var currentPath = window.location.pathname;
                $(e).attr("href", normalizedHref);

                if (getAbsolutePath(normalizedHref) === getAbsolutePath(currentPath)){
                  activeAnchor = $(e);
                }else{
                  $(e).parent().parent().removeClass('active current');
                  $(e).parents("ul").removeClass('current');
                  $(e).removeClass('active current')
                }
              }
          });

          if (activeAnchor){
            activeAnchor.parent().addClass('active current');
            activeAnchor.parents("ul").addClass('current');
            activeAnchor.addClass('active current');
          }

          $(function () {
            var toc_label = $('li > a.normal.slidedown');
            $.each(toc_label, function(_, item) {
              var node = $(item);
              node.click(function() {
                var detail_list = node.next();
                detail_list.slideToggle('slow');
              });
            });
          });
        })
      }

      function getAbsolutePath(href){
        if (isAbsolutePath(href)) return href;
        // Use anchor to normalize href
        return $('<a href="' + href + '"></a>')[0].pathname;
      }

      function isRelativePath(href) {
        return !isAbsolutePath(href);
      }

      function isAbsolutePath(href) {
        return (/^(?:[a-z]+:)?\/\//i).test(href);
      }
    })();

  </script>
</body>

</html>