{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}

{{#isNamespace}}
  {{>partials/namespace}}
{{/isNamespace}}

{{#_splitReference}}
{{#isClass}}
  {{>partials/class.memberpage}}
{{/isClass}}
{{/_splitReference}}
{{^_splitReference}}
{{#isClass}}
  {{>partials/class}}
{{/isClass}}
{{/_splitReference}}

{{#isEnum}}
  {{>partials/enum}}
{{/isEnum}}
{{>partials/customMREFContent}}
