{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
<!DOCTYPE html>
<html {{#_lang}}lang="{{_lang}}"{{/_lang}}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;URL='{{redirect_url}}'">
  </head>
</html>
