{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(styles/main.css)}}
{{!include(styles/main.js)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}} | {{_appTitle}}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="title" content="{{title}} | {{_appTitle}}">
    {{#_description}}<meta name="description" content="{{_description}}">{{/_description}}
    <link rel="shortcut icon" href="{{_rel}}favicon.ico">
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{_rel}}styles/main.css">
    <meta property="docfx:nav" content="{{_navPath}}">
    <meta property="docfx:toc" content="{{_tocPath}}">
    <meta property="docfx:navrel" content="{{_navRel}}">
    <meta property="docfx:tocrel" content="{{_tocRel}}">
  </head>
  <body data-spy="scroll" data-target="#affix">
    <div id="wrapper">
      <header>
        <nav id="autocollapse" class="navbar navbar-inverse ng-scope" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img id="logo" class="svg" src="{{_rel}}logo.svg" alt="{{_appName}}" >
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
            </div>
          </div>
        </nav>
        <div class="subnav navbar navbar-default">
          <div class="container" id="breadcrumb">
            <ul class="breadcrumb">
              <li>{{_tocTitle}}</li>
            </ul>
          </div>
        </div>
      </header>
      <div role="main" class="container body-content">
          {{#_allowToc}}
          <div class="sidenav">
            <a class="btn toc-toggle collapse">Show / Hide Table of Contents</a>
            <div class="sidetoggle">
              <div class="sidetoc">
                <iframe id="sidetoc" src="{{_tocRel}}"></iframe>
              </div>
            </div>
          </div>
          <div class="article row grid-right"><div class="col-md-10">
          {{/_allowToc}}
          {{^_allowToc}}
          <div class="article row grid"><div class="col-md-10">
          {{/_allowToc}}
            <a href="{{docurl}}" class="btn btn-primary pull-right mobile-hide">Improve this Doc</a>
            <article class="content wrap" id="_content">
              {{{conceptual}}}
            </article>
          </div>
          <div class="hidden-sm col-md-2" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="affix">
            <!-- <p><a class="back-to-top" href="#top">Back to top</a><p> -->
            </nav>
          </div>
        </div>
      </div>
      <footer>
        <div class="grad-bottom"></div>
        <div class="footer">
          <div class="container">
            <span class="pull-right">
              <a href="#top">Back to top</a>
            </span>
            <span>Copyright © 2015 Microsoft<br>Powered by Doc-as-Code</span>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{_rel}}styles/main.js"></script>
  </body>
</html>