{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(styles/main.css)}}
{{!include(styles/main.js)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{#item}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{_title}} | {{_appTitle}}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="title" content="{{_title}} | {{_appTitle}}">
  {{#_description}}<meta name="description" content="{{_description}}">{{/_description}}
  <link rel="shortcut icon" href="{{_rel}}favicon.ico">
  <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{_rel}}styles/main.css">
  <meta property="docfx:nav" content="{{_navPath}}">
  <meta property="docfx:toc" content="{{_tocPath}}">
  <meta property="docfx:navrel" content="{{_navRel}}">
</head>
<body data-spy="scroll" data-target="#affix">
  <div id="wrapper">
    <header>
      <nav id="autocollapse" class="navbar navbar-inverse ng-scope" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img id="logo" class="svg" src="{{_rel}}logo.svg" alt="{{_appName}}" >
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
          </div>
        </div>
      </nav>
      <div class="subnav navbar navbar-default">
        <div class="container" id="breadcrumb">
          <ul class="breadcrumb">
            <li>{{_tocTitle}}</li>
          </ul>
        </div>
      </div>
    </header>
    <div role="main" class="container body-content">
      {{#_tocPath}}
      <div class="sidenav">
        <a class="btn toc-toggle collapse">Show / Hide Table of Contents</a>
        <div class="sidetoggle">
          <div class="sidetoc">
            <iframe id="sidetoc" src="{{_tocPath}}"></iframe>
          </div>
        </div>
      </div>
      {{/_tocPath}}
      <div class="article row grid-right">
        {{#_tocPath}}<div class="col-md-10">{{/_tocPath}}
        {{^_tocPath}}<div class="col-md-12">{{/_tocPath}}
        <article class="content wrap" id="_content">
          {{! -------Start Template for Namespace--------}}
          {{#isNamespace}}
          {{#docurl}}
          <a href="{{docurl}}" class="btn btn-primary pull-right mobile-hide">Improve this Doc</a>
          {{/docurl}}
          {{#sourceurl}}
          <a href="{{sourceurl}}" class="btn btn-primary pull-right mobile-hide">View Source</a>
          {{/sourceurl}}
          <h1 id="{{id}}">{{type}} {{name}}
          </h1>
          <div class="markdown level0 summary">{{{summary}}}</div>
          <div class="markdown level0 remarks">{{{remarks}}}</div>
          {{#children}}
          {{#Class.0}}
          <h3 id="classes">Classes</h3>
          {{/Class.0}}
          {{#Class}}
          <h4><a href="{{href}}">{{name}}</a></h4>
          <section>{{{summary}}}</section>
          {{/Class}}
          {{#Struct.0}}
          <h3 id="structs">Structs</h3>
          {{/Struct.0}}
          {{#Struct}}
          <h4><a href="{{href}}">{{name}}</a></h4>
          <section>{{{summary}}}</section>
          {{/Struct}}
          {{#Interface.0}}
          <h3 id="interfaces">Interfaces</h3>
          {{/Interface.0}}
          {{#Interface}}
          <h4><a href="{{href}}">{{name}}</a></h4>
          <section>{{{summary}}}</section>
          {{/Interface}}
          {{#Enum.0}}
          <h3 id="enums">Enums</h3>
          {{/Enum.0}}
          {{#Enum}}
          <h4><a href="{{href}}">{{name}}</a></h4>
          <section>{{{summary}}}</section>
          {{/Enum}}
          {{#Delegate.0}}
          <h3 id="delegates">Delegates</h3>
          {{/Delegate.0}}
          {{#Delegate}}
          <h4><a href="{{href}}">{{name}}</a></h4>
          <section>{{{summary}}}</section>
          {{/Delegate}}
          {{/children}}
          {{/isNamespace}}
          {{! -------End Template for Namespace--------}}
          {{! -------Start Template for Class--------}}
          {{#isClass}}
          {{#docurl}}<a href="{{docurl}}" class="btn btn-primary pull-right mobile-hide">
          <!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc
        </a>{{/docurl}}
        {{#sourceurl}}<a href="{{sourceurl}}" class="btn btn-primary pull-right mobile-hide">
        <!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source
      </a>{{/sourceurl}}
      <h1 id="{{id}}">{{type}} {{name}}</h1>
      <div class="markdown level0 summary">{{{summary}}}</div>
      <div class="markdown level0 remarks">{{{remarks}}}</div>
      {{#inheritance.0}}
      <div class="inheritance">
        <h5>Inheritance</h5>
        {{#inheritance}}
        <div class="level{{index}}">{{{specName}}}</div>
        {{/inheritance}}
        <div class="level{{item.level}}">{{item.fullName}}</div>
      </div>
      {{/inheritance.0}}
      <h6><strong>Namespace</strong>:{{{namespace}}}</h6>
      <h6><strong>Assembly</strong>:{{{assemblies}}}</h6>
      <h5 id="{{id}}_syntax">Syntax</h5>
      <div class="codewrapper">
        <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
      </div>
      {{#children}}
      {{#Constructor.0}}
      <h3 id="constructors">Constructors</h3>
      {{/Constructor.0}}
      {{#Constructor}}
      {{#docurl}}<span class="small pull-right mobile-hide">
      <span class="divider">|</span>
      <a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
    </span>{{/docurl}}
    {{#sourceurl}}<span class="small pull-right mobile-hide">
    <a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
  </span>{{/sourceurl}}
  <h4 id="{{id}}">{{name}}</h4>
  <div class="markdown level1 summary">{{{summary}}}</div>
  <div class="markdown level1 remarks">{{{remarks}}}</div>
  <h5 class="decalaration">Declaration</h5>
  {{#syntax}}
  <div class="codewrapper">
    <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
  </div>
  {{#parameters.0}}
  <h5 class="parameters">Parameters</h5>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{/parameters.0}}
      {{#parameters}}
      <tr>
        <td>{{{type.specName}}}</td>
        <td><em>{{{id}}}</em></td>
        <td>{{{description}}}</td>
      </tr>
      {{/parameters}}
      {{#parameters.0}}
    </tbody>
  </table>
  {{/parameters.0}}
  {{/syntax}}
  {{/Constructor}}
  {{#Field.0}}
  <h3 id="fields">Fields</h3>
  {{/Field.0}}
  {{#Field}}
  {{#docurl}}<span class="small pull-right mobile-hide">
  <span class="divider">|</span>
  <a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a></span>{{/docurl}}
  {{#sourceurl}}<span class="small pull-right mobile-hide">
  <a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper">
  <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
</div>
{{/syntax}}
{{/Field}}
{{#Property.0}}
<h3 id="properties">Properties</h3>
{{/Property.0}}
{{#Property}}
{{#docurl}}<span class="small pull-right mobile-hide">
<span class="divider">|</span>
<a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
</span>{{/docurl}}
{{#sourceurl}}<span class="small pull-right mobile-hide">
<a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper">
  <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
</div>
{{#parameters.0}}
<h5 class="parameters">Parameters</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{/parameters.0}}
    {{#parameters}}
    <tr>
      <td>{{{type.specName}}}</td>
      <td><em>{{{id}}}</em></td>
      <td>{{{description}}}</td>
    </tr>
    {{/parameters}}
    {{#parameters.0}}
  </tbody>
</table>
{{/parameters.0}}
{{#return}}
<h5 class="returns">Property Value</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{{type.specName}}}</td>
      <td>{{{description}}}</td>
    </tr>
  </tbody>
</table>
{{/return}}
{{/syntax}}
{{/Property}}
{{#Method.0}}
<h3 id="methods">Methods</h3>
{{/Method.0}}
{{#Method}}
{{#docurl}}<span class="small pull-right mobile-hide">
<span class="divider">|</span>
<a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
</span>{{/docurl}}
{{#sourceurl}}<span class="small pull-right mobile-hide">
<a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper">
  <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
</div>
{{#parameters.0}}
<h5 class="parameters">Parameters</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{/parameters.0}}
    {{#parameters}}
    <tr>
      <td>{{{type.specName}}}</td>
      <td><em>{{{id}}}</em></td>
      <td>{{{description}}}</td>
    </tr>
    {{/parameters}}
    {{#parameters.0}}
  </tbody>
</table>
{{/parameters.0}}
{{#return}}
<h5 class="returns">Returns</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{{type.specName}}}</td>
      <td>{{{description}}}</td>
    </tr>
  </tbody>
</table>
{{/return}}
{{/syntax}}
{{/Method}}
{{#Event.0}}
<h3 id="events">Events</h3>
{{/Event.0}}
{{#Event}}
{{#docurl}}<span class="small pull-right mobile-hide">
<span class="divider">|</span>
<a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
</span>{{/docurl}}
{{#sourceurl}}<span class="small pull-right mobile-hide">
<a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper">
  <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
</div>
{{/syntax}}
{{/Event}}
{{#Operator.0}}
<h3 id="operators">Operators</h3>
{{/Operator.0}}
{{#Operator}}
{{#docurl}}<span class="small pull-right mobile-hide">
<span class="divider">|</span>
<a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
</span>{{/docurl}}
{{#sourceurl}}<span class="small pull-right mobile-hide">
<a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper"><pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre></div>
{{#parameters.0}}
<h5 class="parameters">Parameters</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{/parameters.0}}
    {{#parameters}}
    <tr>
      <td>{{{type.specName}}}</td>
      <td><em>{{{id}}}</em></td>
      <td>{{{description}}}</td>
    </tr>
    {{/parameters}}
    {{#parameters.0}}
  </tbody>
</table>
{{/parameters.0}}
{{#return}}
<h5 class="returns">Returns</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{{type.specName}}}</td>
      <td>{{{description}}}</td>
    </tr>
  </tbody>
</table>
{{/return}}
{{/syntax}}
{{/Operator}}
{{/children}}
{{/isClass}}
{{! -------End Template for Class--------}}

</article>
</div>
<div class="hidden-sm col-md-2" role="complementary">
  <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="affix">
    <!-- <p><a class="back-to-top" href="#top">Back to top</a><p> -->
  </nav>
</div>
</div>
</div>
<footer>
  <div class="grad-bottom"></div>
  <div class="footer">
    <div class="container">
      <span class="pull-right">
        <a href="#top">Back to top</a>
      </span>
      <span>Copyright © 2015 Microsoft<br>Powered by Doc-as-Code</span>
    </div>
  </div>
</footer>
</div>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
<script type="text/javascript" src="{{_rel}}styles/main.js"></script>
</body>
</html>
{{/item}}