
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadFile</title>
</head>
<body>
    <div> 
        <p>UploadFile</p>
        <form action="/File/SaveFile" enctype="multipart/form-data" method="post">
            <input id="file" name="file" type="file" multiple="multiple" />
            <input type="submit" value="Upload" />
        </form>
    </div>
    <div style="color:red">
        </br></br>
        @ViewBag.Message
    </div>
</body>
</html>
