<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MsdnUrlTemplate" value="https://msdn.microsoft.com/en-us/library/{0}(v={1}).aspx"/>
    <add key="MtpsApiUrlTemplate" value="http://services.mtps.microsoft.com/ServiceAPI/content/{0}/en-us;{1}/common/mtps.links"/>
    <add key="HttpMaxConcurrency" value="64"/>
    <add key="RetryDelayInMillisecond" value="1000, 3000, 10000"/>
    <add key="StatisticsFreshPerSecond" value="5"/>
  </appSettings>
</configuration>