<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitSharp" version="0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net45" />
  <package id="Winterdom.IO.FileMap" version="2.0.2.0" targetFramework="net45" />
  <package id="YamlDotNet.Signed" version="3.7.0" targetFramework="net452" />
</packages>