{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{>partials/head}}
    {{>partials/css}}
  </head>

  <body>
    <div id="page">
      {{>partials/nav}}
      <div id="body">
        <div id="threeColumns">
          <div class="left">
            <div class="TocNavigationVertical">
            </div>
          </div>
          <div class="main">
            <div id="oaContent" class="row">
              <div class="col-md-9" id="api-doc-contents">{{{ conceptual }}}</div>
            </div>
            <input type="hidden" id="proxyUrl" value="https://apiexproxy.azurewebsites.net/svc">
            <input type="hidden" id="playgroundUrl" value="https://apisandbox.msdn.microsoft.com/">
            <input type="hidden" id="ajaxTimeout" value="10000">
            <input type="hidden" id="supportedLanguagesForPlayground" value="javascript;c#">
            <input type="hidden" id="authorizationHeader" value="Bearer {token:{resourceName}}">
          </div>
        </div>
      </div>
      {{>partials/footer}}
    </div>
    {{>partials/script}}
  </body>
</html>