{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{#item}}<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="WT.seg_1" content="en-us">
  <link rel="canonical" href="https://msdn.microsoft.com/en-us/openauthoring/connect/connect">
  <title>Preview</title>
  <meta name="DCS.dcsuri" content="/en-us/openauthoring/connect/connect">
  <meta name="NormalizedUrl" content="https://msdn.microsoft.com/en-us/openauthoring/connect/connect">
  <meta name="ms.normalizedurl" content="https://msdn.microsoft.com/en-us/openauthoring/connect/connect">
  <meta name="VotingContextUrl" content="https://msdn.microsoft.com/en-us/openauthoring/connect/connect">
  <meta name="MN" content="4B9B1F2A-6:02:28 PM">
  <meta name="Ms.Locale" content="en-us">
  <meta name="ms.lang" content="EN">
  <meta name="ms.loc" content="US">
  <meta name="ms.sitever" content="2015.07.07.1">
  <meta name="ms.assetid" content="">
  <meta name="ms.auth" content="0">
  <meta name="ms.ContentId" content="4ece3f6c-90e3-4348-8fee-ebbf9bd5f48e">
  <meta property="docfx:toc" content="{{_tocPath}}">
  <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://i-msdn.sec.s-msft.com/Combined.css?resources=0:Topic,0:OverridesForBootstrap,1:OALayout,2:OA_Msdn,3:Header,3:HeaderFooterSprite,3:Header.Static,1:LinkList,4:ThreeColumns,3:Footer,3:Footer.Static,1:FooterSock;/Areas/Epx/Content/Css:0,/Areas/Epx/Themes/Base/Content:1,/Areas/Library/Themes/Msdn/Content:2,/Areas/Centers/Themes/StandardDevCenter/Content:3,/Areas/Library/Themes/Base/Content:4&amp;amp;v=830FA0C2172D5942CA6603B4505AC50F">
  <style>
    ul.tocLevel2{
      display: none;
    }
    ul.tocLevel2.current{
      display: block;
    }
    li.current ul{
      display: block;
    }
    ul[class^="tocLevel"] > li {
      margin-left: 22px!important;
    }

    @media screen and (max-width: 1024px) {
      #threeColumns > .left {
        display: inline-block;
      }
      #threeColumns > .main {
        width: calc(100% - 489px);
        margin-right: 20px;
        display: inline-block;
        min-height: 300px;
      }
    }
  </style>
</head>

<body>
  <div id="page">
    <link type="text/css" rel="stylesheet">
    <input type="hidden" id="isHeaderBleeding" value="true">
    <div id="ux-header" dir="ltr" class="ltr msdn" data-device-type="desktop">
      <header>
        <span id="singleCol"></span>
        <span id="doubleCol"></span>
        <span id="isMobile"></span>
        <div>
          <div class="row topRow">
            <div class="top">
              <div class="left">
                <a class="msdnLogoImg" href="https://msdn.microsoft.com/en-us">
                  <div id="msft-logo" class="msft-logo"></div>
                </a>
                <div class="GrayPipe"></div>
                <a class="DevCenterFullNameNonMegaBlade" href="https://msdn.microsoft.com/en-us">Developer Network</a>
                <a class="DevCenterFullName" href="https://msdn.microsoft.com/en-us">Developer Network</a>
                <a class="DevCenterShortName" href="https://msdn.microsoft.com/en-us">Developer</a>
              </div>
              <div class="right">
                <div id="signIn">
                  <img class="profileImage" src="https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/Images/profile.jpg?v=635718260225984154">
                  <a class="scarabLink" href="https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=12&amp;ct=1437094948&amp;rver=6.0.5276.0&amp;wp=MCMBI&amp;wlcxt=MSDN%24MSDN%24MSDN&amp;wreply=https%3a%2f%2fmsdn.microsoft.com%2fen-us%2fopenauthoring%2fconnect%2fconnect&amp;lc=1033&amp;id=254354&amp;mkt=en-US"
                  title="Sign in">Sign in</a>
                </div>
                <div class="auxNav">
                  <div>
                    <div data-fragmentname="Subscriptions" id="Fragment_Subscriptions" xmlns="http://www.w3.org/1999/xhtml">
                      <a href="https://msdn.microsoft.com/subscriptions/manage/hh442900" id="Subscriptions_2153_1" xmlns="http://www.w3.org/1999/xhtml">MSDN subscriptions</a>
                    </div>
                    <div data-fragmentname="GetTools" id="Fragment_GetTools" xmlns="http://www.w3.org/1999/xhtml">
                      <a href="http://go.microsoft.com/fwlink/?LinkId=309297&amp;clcid=0x409&amp;slcid=0x409&amp;campaign=o~msft~msdn~gettools-header~dn308572"
                      id="GetTools_2153_3" xmlns="http://www.w3.org/1999/xhtml">Get tools</a>
                    </div>
                  </div>
                  <div>
                    <div data-fragmentname="SocialLinks" id="Fragment_SocialLinks" xmlns="http://www.w3.org/1999/xhtml">
                      <div class="linkList">
                        <ul class="links horizontal">
                          <li>
                            <a href="http://www.facebook.com/microsoftdeveloper" target="_blank" id="SocialLinks_2152_4" class="facebook" xmlns="http://www.w3.org/1999/xhtml">http://www.facebook.com/microsoftdeveloper</a>
                          </li>
                          <li>
                            <a href="https://twitter.com/msdev" target="_blank" id="SocialLinks_2152_5" class="twitter" xmlns="http://www.w3.org/1999/xhtml">https://twitter.com/msdev</a>
                          </li>
                          <li>
                            <a href="http://plus.google.com/111221966647232053570/" target="_blank" id="SocialLinks_2152_6" class="googlePlus" xmlns="http://www.w3.org/1999/xhtml">http://plus.google.com/111221966647232053570/</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row middleRow">
            <div class="expandTop" style="display: none;">
              <div class="left"></div>
              <div class="right"></div>
            </div>
          </div>
        </div>
        <div id="buttomRowWrapper" class="bg_default">
          <div class="row buttomRow bg_default">
            <div class="bottom">
              <div class="left">
                <a id="grip" class="menu-icon" href="javascript:void(0)"></a>
                <div id="drawer">
                  <div class="toc">
                    <nav>
                      <ul class="navL1">
                        <li class="inactive toggle">
                          <a href="javascript:void(0)" title="Technologies">Technologies</a>
                          <ul class="navL2" style="display: none;">
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/cloud-app-development-msdn" title="Cloud">Cloud</a>
                            </li>
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/mobile-app-development-msdn" title="Mobile">Mobile</a>
                            </li>
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/web-app-development-msdn" title="Web">Web</a>
                            </li>
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/big-data-development-msdn" title="Data">Data</a>
                            </li>
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/games-development-msdn" title="Gaming">Gaming</a>
                            </li>
                          </ul>
                        </li>
                        <li class="inactive toggle">
                          <a href="javascript:void(0)" title="Downloads">Downloads</a>
                          <ul class="navL2" style="display: none;">
                            <li class="inactive">
                              <a href="https://www.visualstudio.com/downloads/download-visual-studio-vs" title="Visual Studio">Visual Studio</a>
                            </li>
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/subscriptions" title="MSDN subscription access">MSDN subscription access</a>
                            </li>
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/microsoft-sdks-msdn" title="SDKs">SDKs</a>
                            </li>
                            <li class="inactive toggle">
                              <a href="javascript:void(0)" title="Trial software">Trial software</a>
                              <ul class="navL3" style="display: none;">
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/evalcenter" title="Free downloads">Free downloads</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/officeevaluationresources" title="Office resources">Office resources</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/sharepoint2013resources" title="SharePoint Server 2013 resources">SharePoint Server 2013 resources</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/sqlserver2014expressresources" title="SQL Server 2014 Express resources">SQL Server 2014 Express resources</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/windowsserver2012r2resources" title="Windows Server 2012 resources">Windows Server 2012 resources</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="inactive toggle">
                          <a href="javascript:void(0)" title="Programs">Programs</a>
                          <ul class="navL2" style="display: none;">
                            <li class="inactive">
                              <a href="https://rewards.msdn.microsoft.com/" title="Rewards">Rewards</a>
                            </li>
                            <li class="inactive">
                              <a href="https://www.microsoft.com/bizspark" title="Startups">Startups</a>
                            </li>
                            <li class="inactive toggle">
                              <a href="javascript:void(0)" title="Students">Students</a>
                              <ul class="navL3" style="display: none;">
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/imagine/imagine-home" title="Microsoft Imagine">Microsoft Imagine</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/microsoftstudentpartners" title="Microsoft Student Partners">Microsoft Student Partners</a>
                                </li>
                              </ul>
                            </li>
                            <li class="inactive toggle">
                              <a href="javascript:void(0)" title="Architects">Architects</a>
                              <ul class="navL3" style="display: none;">
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/architects-overview-msdn" title="Overview">Overview</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/architects-case-studies-msdn" title="Case studies">Case studies</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/architects-blueprints-msdn" title="Blueprints">Blueprints</a>
                                </li>
                                <li class="inactive">
                                  <a href="http://blogs.msdn.com/b/msarchitecture/" title="Blog">Blog</a>
                                </li>
                                <li class="inactive">
                                  <a href="http://social.msdn.microsoft.com/forums/en-us/home?brandignore=true&amp;sort=relevancedesc&amp;searchterm=architecture+or+architect"
                                  title="Forums">Forums</a>
                                </li>
                              </ul>
                            </li>
                            <li class="inactive">
                              <a href="http://events.msdn.microsoft.com/" title="Events">Events</a>
                            </li>
                            <li class="inactive toggle">
                              <a href="javascript:void(0)" title="MSDN Subscriptions">MSDN Subscriptions</a>
                              <ul class="navL3" style="display: none;">
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/msdn-subscriptions-overview" title="Overview">Overview</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/benefits-overview" title="Benefits">Benefits</a>
                                </li>
                                <li class="inactive">
                                  <a href="https://msdn.microsoft.com/msdn-subscriptions-administration" title="Administrators">Administrators</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="inactive toggle">
                          <a href="javascript:void(0)" title="Community">Community</a>
                          <ul class="navL2" style="display: none;">
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/magazine/dd767791" title="Magazine">Magazine</a>
                            </li>
                            <li class="inactive">
                              <a href="https://social.msdn.microsoft.com/forums/" title="Forums">Forums</a>
                            </li>
                            <li class="inactive">
                              <a href="http://blogs.msdn.com/b/developer-tools/" title="Blogs">Blogs</a>
                            </li>
                            <li class="inactive">
                              <a href="http://tech-advisors.msdn.microsoft.com/en-us" title="Tech Advisors">Tech Advisors</a>
                            </li>
                            <li class="inactive">
                              <a href="http://channel9.msdn.com/" title="Channel 9">Channel 9</a>
                            </li>
                          </ul>
                        </li>
                        <li class="inactive toggle">
                          <a href="javascript:void(0)" title="Documentation">Documentation</a>
                          <ul class="navL2" style="display: none;">
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/library" title="APIs and reference">APIs and reference</a>
                            </li>
                            <li class="inactive">
                              <a href="https://msdn.microsoft.com/developer-centers-msdn" title="Dev centers">Dev centers</a>
                            </li>
                          </ul>
                        </li>
                        <li class="inactive">
                          <a href="https://code.msdn.microsoft.com/" title="Samples">Samples</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="right">
                <div data-fragmentname="SearchBox" id="Fragment_SearchBox" xmlns="http://www.w3.org/1999/xhtml">
                  <div class="SearchBox">
                    <form id="HeaderSearchForm" name="HeaderSearchForm" method="get">
                      <button id="FakeHeaderSearchButton" value="Search" type="submit" class="header-search-button">
                        <div id="search-finder" class="search-finder"></div>
                      </button>
                      <button id="HeaderSearchButton" style="display:none" title="Search MSDN"></button>
                      <div id="searchSplitter"></div>
                      <div id="searchCloseIcon" class="search-clear-x"></div>
                      <div id="searchTextContainer" style="display: none; width: 0px;">
                        <input id="HeaderSearchTextBox" name="query" type="text" maxlength="200" onfocus="Epx.Controls.SearchBox.watermarkFocus(event, this.title)"
                        onblur="Epx.Controls.SearchBox.watermarkBlur(event, this.title)" autocomplete="off">
                        <div id="SearchFlyoutContainer" style="display: none; text-align: left; border: 1px solid buttonshadow; position: absolute; z-index: 1000; padding: 2px; color: rgb(255, 255, 255); font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
                          <div id="SuggestionContainer">
                            <ul style="list-style: none; padding: 4px 2px 0px 1px; cursor: pointer; margin: 1px; white-space: nowrap;"></ul>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="overlayMaskHeader"></div>
    </div>
    <div id="body">
      <div id="threeColumns">
        <div class="left">
          <div class="TocNavigationVertical">
          </div>
        </div>
        <div class="main">
          <div id="oaContent" class="row">
            <div class="col-md-9" id="api-doc-contents">
              <article>
                {{! -------Start Template for Namespace--------}}
                {{#isNamespace}}
                {{#docurl}}
                <a href="{{docurl}}" class="btn btn-primary pull-right mobile-hide">Improve this Doc</a>
                {{/docurl}}
                {{#sourceurl}}
                <a href="{{sourceurl}}" class="btn btn-primary pull-right mobile-hide">View Source</a>
                {{/sourceurl}}
                <h1 id="{{id}}">{{type}} {{name}}
                </h1>
                <div class="markdown level0 summary">{{{summary}}}</div>
                <div class="markdown level0 remarks">{{{remarks}}}</div>
                {{#children}}
                {{#Class.0}}
                <h3 id="classes">Classes</h3>
                {{/Class.0}}
                {{#Class}}
                <h4><a href="{{href}}">{{name}}</a></h4>
                <section>{{{summary}}}</section>
                {{/Class}}
                {{#Struct.0}}
                <h3 id="structs">Structs</h3>
                {{/Struct.0}}
                {{#Struct}}
                <h4><a href="{{href}}">{{name}}</a></h4>
                <section>{{{summary}}}</section>
                {{/Struct}}
                {{#Interface.0}}
                <h3 id="interfaces">Interfaces</h3>
                {{/Interface.0}}
                {{#Interface}}
                <h4><a href="{{href}}">{{name}}</a></h4>
                <section>{{{summary}}}</section>
                {{/Interface}}
                {{#Enum.0}}
                <h3 id="enums">Enums</h3>
                {{/Enum.0}}
                {{#Enum}}
                <h4><a href="{{href}}">{{name}}</a></h4>
                <section>{{{summary}}}</section>
                {{/Enum}}
                {{#Delegate.0}}
                <h3 id="delegates">Delegates</h3>
                {{/Delegate.0}}
                {{#Delegate}}
                <h4><a href="{{href}}">{{name}}</a></h4>
                <section>{{{summary}}}</section>
                {{/Delegate}}
                {{/children}}
                {{/isNamespace}}
                {{! -------End Template for Namespace--------}}
                {{! -------Start Template for Class--------}}
                {{#isClass}}
                {{#docurl}}<a href="{{docurl}}" class="btn btn-primary pull-right mobile-hide">
                <!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc
              </a>{{/docurl}}
              {{#sourceurl}}<a href="{{sourceurl}}" class="btn btn-primary pull-right mobile-hide">
              <!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source
            </a>{{/sourceurl}}
            <h1 id="{{id}}">{{type}} {{name}}</h1>
            <div class="markdown level0 summary">{{{summary}}}</div>
            <div class="markdown level0 remarks">{{{remarks}}}</div>
            {{#inheritance.0}}
            <div class="inheritance">
              <h5>Inheritance</h5>
              {{#inheritance}}
              <div class="level{{index}}">{{{specName}}}</div>
              {{/inheritance}}
              <div class="level{{item.level}}">{{item.fullName}}</div>
            </div>
            {{/inheritance.0}}
            <h6><strong>Namespace</strong>:{{{namespace}}}</h6>
            <h6><strong>Assembly</strong>:{{{assemblies}}}</h6>
            <h5 id="{{id}}_syntax">Syntax</h5>
            <div class="codewrapper">
              <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
            </div>
            {{#children}}
            {{#Constructor.0}}
            <h3 id="constructors">Constructors</h3>
            {{/Constructor.0}}
            {{#Constructor}}
            {{#docurl}}<span class="small pull-right mobile-hide">
            <span class="divider">|</span>
            <a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
          </span>{{/docurl}}
          {{#sourceurl}}<span class="small pull-right mobile-hide">
          <a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
        </span>{{/sourceurl}}
        <h4 id="{{id}}">{{name}}</h4>
        <div class="markdown level1 summary">{{{summary}}}</div>
        <div class="markdown level1 remarks">{{{remarks}}}</div>
        <h5 class="decalaration">Declaration</h5>
        {{#syntax}}
        <div class="codewrapper">
          <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
        </div>
        {{#parameters.0}}
        <h5 class="parameters">Parameters</h5>
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{/parameters.0}}
            {{#parameters}}
            <tr>
              <td>{{{type.specName}}}</td>
              <td><em>{{{id}}}</em></td>
              <td>{{{description}}}</td>
            </tr>
            {{/parameters}}
            {{#parameters.0}}
          </tbody>
        </table>
        {{/parameters.0}}
        {{/syntax}}
        {{/Constructor}}
        {{#Field.0}}
        <h3 id="fields">Fields</h3>
        {{/Field.0}}
        {{#Field}}
        {{#docurl}}<span class="small pull-right mobile-hide">
        <span class="divider">|</span>
        <a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a></span>{{/docurl}}
        {{#sourceurl}}<span class="small pull-right mobile-hide">
        <a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
      </span>{{/sourceurl}}
      <h4 id="{{id}}">{{name}}</h4>
      <div class="markdown level1 summary">{{{summary}}}</div>
      <div class="markdown level1 remarks">{{{remarks}}}</div>
      <h5 class="decalaration">Declaration</h5>
      {{#syntax}}
      <div class="codewrapper">
        <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
      </div>
      {{/syntax}}
      {{/Field}}
      {{#Property.0}}
      <h3 id="properties">Properties</h3>
      {{/Property.0}}
      {{#Property}}
      {{#docurl}}<span class="small pull-right mobile-hide">
      <span class="divider">|</span>
      <a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
    </span>{{/docurl}}
    {{#sourceurl}}<span class="small pull-right mobile-hide">
    <a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
  </span>{{/sourceurl}}
  <h4 id="{{id}}">{{name}}</h4>
  <div class="markdown level1 summary">{{{summary}}}</div>
  <div class="markdown level1 remarks">{{{remarks}}}</div>
  <h5 class="decalaration">Declaration</h5>
  {{#syntax}}
  <div class="codewrapper">
    <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
  </div>
  {{#parameters.0}}
  <h5 class="parameters">Parameters</h5>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{/parameters.0}}
      {{#parameters}}
      <tr>
        <td>{{{type.specName}}}</td>
        <td><em>{{{id}}}</em></td>
        <td>{{{description}}}</td>
      </tr>
      {{/parameters}}
      {{#parameters.0}}
    </tbody>
  </table>
  {{/parameters.0}}
  {{#return}}
  <h5 class="returns">Property Value</h5>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{{type.specName}}}</td>
        <td>{{{description}}}</td>
      </tr>
    </tbody>
  </table>
  {{/return}}
  {{/syntax}}
  {{/Property}}
  {{#Method.0}}
  <h3 id="methods">Methods</h3>
  {{/Method.0}}
  {{#Method}}
  {{#docurl}}<span class="small pull-right mobile-hide">
  <span class="divider">|</span>
  <a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
</span>{{/docurl}}
{{#sourceurl}}<span class="small pull-right mobile-hide">
<a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper">
  <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
</div>
{{#parameters.0}}
<h5 class="parameters">Parameters</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{/parameters.0}}
    {{#parameters}}
    <tr>
      <td>{{{type.specName}}}</td>
      <td><em>{{{id}}}</em></td>
      <td>{{{description}}}</td>
    </tr>
    {{/parameters}}
    {{#parameters.0}}
  </tbody>
</table>
{{/parameters.0}}
{{#return}}
<h5 class="returns">Returns</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{{type.specName}}}</td>
      <td>{{{description}}}</td>
    </tr>
  </tbody>
</table>
{{/return}}
{{/syntax}}
{{/Method}}
{{#Event.0}}
<h3 id="events">Events</h3>
{{/Event.0}}
{{#Event}}
{{#docurl}}<span class="small pull-right mobile-hide">
<span class="divider">|</span>
<a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
</span>{{/docurl}}
{{#sourceurl}}<span class="small pull-right mobile-hide">
<a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper">
  <pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre>
</div>
{{/syntax}}
{{/Event}}
{{#Operator.0}}
<h3 id="operators">Operators</h3>
{{/Operator.0}}
{{#Operator}}
{{#docurl}}<span class="small pull-right mobile-hide">
<span class="divider">|</span>
<a href="{{docurl}}"><!--<span class="glyphicon glyphicon-edit">&nbsp;</span>-->Improve this Doc</a>
</span>{{/docurl}}
{{#sourceurl}}<span class="small pull-right mobile-hide">
<a href="{{sourceurl}}"><!--<span class="glyphicon glyphicon-eye-open">&nbsp;</span>-->View Source</a>
</span>{{/sourceurl}}
<h4 id="{{id}}">{{name}}</h4>
<div class="markdown level1 summary">{{{summary}}}</div>
<div class="markdown level1 remarks">{{{remarks}}}</div>
<h5 class="decalaration">Declaration</h5>
{{#syntax}}
<div class="codewrapper"><pre><code class="lang-{{_lang}} hljs">{{{syntax.content}}}</code></pre></div>
{{#parameters.0}}
<h5 class="parameters">Parameters</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{/parameters.0}}
    {{#parameters}}
    <tr>
      <td>{{{type.specName}}}</td>
      <td><em>{{{id}}}</em></td>
      <td>{{{description}}}</td>
    </tr>
    {{/parameters}}
    {{#parameters.0}}
  </tbody>
</table>
{{/parameters.0}}
{{#return}}
<h5 class="returns">Returns</h5>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{{type.specName}}}</td>
      <td>{{{description}}}</td>
    </tr>
  </tbody>
</table>
{{/return}}
{{/syntax}}
{{/Operator}}
{{/children}}
{{/isClass}}
{{! -------End Template for Class--------}}
</article></div>
</div>
<input type="hidden" id="proxyUrl" value="https://apiexproxy.azurewebsites.net/svc">
<input type="hidden" id="playgroundUrl" value="https://apisandbox.msdn.microsoft.com/">
<input type="hidden" id="ajaxTimeout" value="10000">
<input type="hidden" id="supportedLanguagesForPlayground" value="javascript;c#">
<input type="hidden" id="authorizationHeader" value="Bearer {token:{resourceName}}">
</div>
</div>
</div>
<input name="__RequestVerificationToken" type="hidden" value="yjhMuM_7zKr53DlMRAFuK0PJU8XrE_PNuCAOnjxu_5NSv2LMoIeQGELsBsN1JL0SSmUSHztV5vPkRExDbkt-VSLYpsg1">
<input id="ratingSubmitUrl" type="hidden" value="https://msdn.microsoft.com/en-us/library/feedback/add/287">
<input id="isTopicRated" type="hidden" value="false">
<input id="onePubTopicId" type="hidden" value="287">
<link type="text/css" rel="stylesheet">
<div id="ux-footer" class="" style="" dir="ltr">
  <div id="footerSock" class="both">
    <div id="footerSockInner">
      <a name="feedback"></a>
      <div class="rating">
        <div id="ratingSection1">
          <div class="title">Was this page helpful?</div>
          <div class="description">
            Your feedback about this content is important.
            <br>Let us know what you think.
          </div>
          <div class="buttons">
            <button class="button" id="ratingYes">Yes</button>
            <button class="button" id="ratingNo">No</button>
          </div>
          <input id="ratingValue" type="hidden" value="">
        </div>
        <div id="ratingSection2">
          <div class="title">Additional feedback?</div>
          <textarea id="ratingText" rows="6" cols="" maxlength="1500"></textarea>
          <div class="counter right">
            <span id="feedbackTextCounter">1500</span>characters remaining
          </div>
          <div class="buttons left">
            <button class="button" id="ratingSubmit">Submit</button>
            <button class="button" id="ratingSkipThis">Skip this</button>
          </div>
        </div>
        <div id="ratingSection3">
          <div class="title">Thank you!</div>
          <div class="description">We appreciate your feedback.</div>
        </div>
        <div id="contentFeedbackQAContainer" style="display: none;"></div>
      </div>
      <div class="userVoice">
        <div class="title">Have a suggestion to improve MSDN?</div>
        <div class="description">Visit our UserVoice Page to submit and vote on ideas!</div>
        <div class="buttons">
          <a class="button" id="userVoiceButton" href="http://feedback.msdn.com" target="_blank">Make a suggestion</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <footer class="top">
    <div data-fragmentname="LeftLinks" id="Fragment_LeftLinks" xmlns="http://www.w3.org/1999/xhtml">
      <div class="linkList">
        <div class="linkListTitle">Dev centers</div>
        <ul class="links">
          <li>
            <a href="https://dev.windows.com" id="LeftLinks_2148_1" class="windowsBlue" xmlns="http://www.w3.org/1999/xhtml">Windows</a>
          </li>
          <li>
            <a href="http://dev.office.com" id="LeftLinks_2148_3" class="office" xmlns="http://www.w3.org/1999/xhtml">Office</a>
          </li>
          <li>
            <a href="https://msdn.microsoft.com/vstudio" id="LeftLinks_2148_4" class="visualStudio" xmlns="http://www.w3.org/1999/xhtml">Visual Studio</a>
          </li>
          <li>
            <a href="http://azure.microsoft.com/en-us/documentation/" target="_blank" id="LeftLinks_2148_12" xmlns="http://www.w3.org/1999/xhtml">Microsoft Azure</a>
          </li>
          <li>
            <a href="https://msdn.microsoft.com/aa937802" id="LeftLinks_2148_5" xmlns="http://www.w3.org/1999/xhtml">More...</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="rightLinks">
      <div data-fragmentname="CenterLinks1" id="Fragment_CenterLinks1" xmlns="http://www.w3.org/1999/xhtml">
        <div class="linkList">
          <div class="linkListTitle">Learning resources</div>
          <ul class="links">
            <li>
              <a href="http://www.microsoftvirtualacademy.com/" id="CenterLinks1_2151_4" xmlns="http://www.w3.org/1999/xhtml">Microsoft Virtual Academy</a>
            </li>
            <li>
              <a href="http://channel9.msdn.com/" id="CenterLinks1_2151_5" xmlns="http://www.w3.org/1999/xhtml">Channel 9</a>
            </li>
            <li>
              <a href="http://www.interoperabilitybridges.com/" id="CenterLinks1_2151_6" xmlns="http://www.w3.org/1999/xhtml">Interoperability Bridges</a>
            </li>
            <li>
              <a href="https://msdn.microsoft.com/magazine/" id="CenterLinks1_2151_7" xmlns="http://www.w3.org/1999/xhtml">MSDN Magazine</a>
            </li>
          </ul>
        </div>
      </div>
      <div data-fragmentname="CenterLinks2" id="Fragment_CenterLinks2" xmlns="http://www.w3.org/1999/xhtml">
        <div class="linkList">
          <div class="linkListTitle">Community</div>
          <ul class="links">
            <li>
              <a href="https://social.msdn.microsoft.com/forums/en-us/home" id="CenterLinks2_2151_8" xmlns="http://www.w3.org/1999/xhtml">Forums</a>
            </li>
            <li>
              <a href="http://blogs.msdn.com/b/developer-tools/" id="CenterLinks2_2151_9" xmlns="http://www.w3.org/1999/xhtml">Blogs</a>
            </li>
            <li>
              <a href="http://www.codeplex.com" id="CenterLinks2_2151_10" xmlns="http://www.w3.org/1999/xhtml">Codeplex</a>
            </li>
          </ul>
        </div>
      </div>
      <div data-fragmentname="CenterLinks3" id="Fragment_CenterLinks3" xmlns="http://www.w3.org/1999/xhtml">
        <div class="linkList">
          <div class="linkListTitle">Support</div>
          <ul class="links">
            <li>
              <a href="https://msdn.microsoft.com/hh361695" id="CenterLinks3_2151_11" xmlns="http://www.w3.org/1999/xhtml">Self support</a>
            </li>
          </ul>
        </div>
      </div>
      <div data-fragmentname="CenterLinks4" id="Fragment_CenterLinks4" xmlns="http://www.w3.org/1999/xhtml" class="nth-child-4n">
        <div class="linkList">
          <div class="linkListTitle">Programs</div>
          <ul class="links">
            <li>
              <a href="https://www.microsoft.com/bizspark/" id="CenterLinks4_2151_13" xmlns="http://www.w3.org/1999/xhtml">BizSpark (for startups)</a>
            </li>
            <li>
              <a href="https://www.dreamspark.com/" id="CenterLinks4_2151_14" xmlns="http://www.w3.org/1999/xhtml">DreamSpark</a>
            </li>
            <li>
              <a href="http://www.imaginecup.com" id="CenterLinks4_2151_17" xmlns="http://www.w3.org/1999/xhtml">Imagine Cup</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="bottom">
    <span class="localeContainer">
      <form class="selectLocale" id="selectLocaleForm" action="https://msdn.microsoft.com/en-us/selectlocale-dmc">
        <input type="hidden" name="fromPage" value="https%3a%2f%2fmsdn.microsoft.com%2fen-us%2fopenauthoring%2fconnect%2fconnect">
        <a href="#" onclick="$('#selectLocaleForm').submit();return false;" title="Change your language">United States (English)</a>
      </form>
    </span>
    <div data-fragmentname="BottomLinks" id="Fragment_BottomLinks" xmlns="http://www.w3.org/1999/xhtml">
      <div class="linkList">
        <ul class="links horizontal">
          <li>
            <a href="https://msdn.microsoft.com/newsletter.aspx" id="BottomLinks_2148_7" xmlns="http://www.w3.org/1999/xhtml">Newsletter</a>
          </li>
          <li>
            <a href="https://msdn.microsoft.com/dn529288" id="BottomLinks_2148_8" xmlns="http://www.w3.org/1999/xhtml">Privacy &amp; cookies</a>
          </li>
          <li>
            <a href="https://msdn.microsoft.com/cc300389" id="BottomLinks_2148_9" xmlns="http://www.w3.org/1999/xhtml">Terms of use</a>
          </li>
          <li>
            <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx" id="BottomLinks_2148_10" xmlns="http://www.w3.org/1999/xhtml">Trademarks</a>
          </li>
        </ul>
      </div>
    </div>
    <span class="logoLegal">
      <span class="logo"></span>
      <span class="copyright">© 2015 Microsoft</span>
    </span>
  </footer>
</div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.0/bootstrap.min.js"></script>
<script>
  'use strict';

  (function(){
    var tocPath = $("meta[property='docfx\\:toc'").attr("content");
    if (tocPath){
      tocPath = tocPath.replace(/\\/g, '/');
      var tocRel = "";
      var index = tocPath.lastIndexOf('/');
      if (index > -1){
        tocRel = tocPath.substring(0, index + 1);
      }
      $(".TocNavigationVertical").load(tocPath+" #toc>ul", function(){
          // Update href to relative to current page
          var activeAnchor = null;
          $(".TocNavigationVertical").find('a[href]').each(function(i, e){
            var href = $(e).attr("href");
            if (isRelativePath(href)) {
              var normalizedHref = tocRel + href;
              var currentPath = window.location.pathname;
              $(e).attr("href", normalizedHref);

              if (getAbsolutePath(normalizedHref) === getAbsolutePath(currentPath)){
                activeAnchor = $(e);
              }else{
                $(e).parent().parent().removeClass('active current');
                $(e).parents("ul").removeClass('current');
                $(e).removeClass('active current')
              }
            }
          });

          if (activeAnchor){
            activeAnchor.parent().addClass('active current');
            activeAnchor.parents("ul").addClass('current');
            activeAnchor.addClass('active current');
          }

          $(function () {
            var toc_label = $('li > a.normal.slidedown');
            $.each(toc_label, function(_, item) {
              var node = $(item);
              node.click(function() {
                var detail_list = node.next();
                detail_list.slideToggle('slow');
              });
            });
          });
        })
}

function getAbsolutePath(href){
  if (isAbsolutePath(href)) return href;
        // Use anchor to normalize href
        return $('<a href="' + href + '"></a>')[0].pathname;
      }

      function isRelativePath(href) {
        return !isAbsolutePath(href);
      }

      function isAbsolutePath(href) {
        return (/^(?:[a-z]+:)?\/\//i).test(href);
      }
    })();

  </script>
</body>
</html>
{{/item}}