{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}

<!DOCTYPE html>
{{#item}}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{>partials/head}}
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.0/css/bootstrap.min.css" /><link rel="stylesheet" type="text/css" href="https://i-msdn.sec.s-msft.com/Combined.css?resources=0:Topic,0:MSDNOP,0:OverridesForBootstrap,0:vs,0:OverridesForHighlightJs,1:Tables.MediaQueries,2:OALayout,3:OP_Msdn,4:Header,4:HeaderFooterSprite,4:Header.MediaQueries,5:Banner.MediaQueries,2:OpenPublishingTopic,0:ImageSprite,4:Footer,4:Footer.MediaQueries,2:NewFooterSock,2:NewFooterSock.MediaQueries,2:LinkList,2:OpenPublishingTopic.MediaQueries;/Areas/Epx/Content/Css:0,/Areas/Library/Content:1,/Areas/Epx/Themes/Base/Content:2,/Areas/Library/Themes/Msdn/Content:3,/Areas/Centers/Themes/StandardDevCenter/Content:4,/Areas/Epx/Shared/Content:5&amp;amp;v=CCE108FAE4FA2FF07EB52DEB0E78DB2F" />
    <style>
      ul.tocLevel2{
        display: none;
      }
      ul.tocLevel2.current{
        display: block;
      }
      li.current ul{
        display: block;
      }
      ul[class^="tocLevel"] > li {
        margin-left: 22px!important;
      }
      @media screen and (max-width: 1024px) {
        #body > #leftNav {
          display: inline-block;
        }
        #body > #content {
          width: calc(100% - 489px);
          margin-right: 20px;
          display: inline-block;
          min-height: 300px;
        }
      }
      h3{
        border-bottom: 1px solid #ccc;
      }
      .fxInheritance div{
        margin-left: 1em;
      }
      dd {
        margin-left: 40px;
      }
      dt {
        font-weight: normal;
      }
      dl {
        margin-bottom: 13px
      }
    </style>
  </head>
  <body class="library">
    <div id="page">
      {{>partials/nav}}
      <div id="body" style="height: auto;">
        <div id="threeColumns">
          <div id="leftColumn" class="left">
            <div id="tocNav">
              <div class="tocRootContainer">
                <a class="tocRoot">TOC</a>
              </div>
            </div>
          </div>
          <div class="main">
            <div id="oaContent" class="row">
              <div class="api-doc-contents">
                {{#isNamespaceView}}
                  {{>partials/namespace}}
                {{/isNamespaceView}}
                {{#isClassView}}
                  {{>partials/class}}
                {{/isClassView}}
              </div>
              <input type="hidden" id="proxyUrl" value="https://apiexproxy.azurewebsites.net/svc">
              <input type="hidden" id="playgroundUrl" value="https://apisandbox.msdn.microsoft.com/">
              <input type="hidden" id="ajaxTimeout" value="10000">
              <input type="hidden" id="supportedLanguagesForPlayground" value="javascript;c#">
              <input type="hidden" id="authorizationHeader" value="Bearer {token:{resourceName}}">
            </div>
          </div>
          <div id="rightNavigationMenu">
          </div>
        </div>
      </div>
      {{>partials/footer}}
    </div>
    {{>partials/script}}
  </body>
</html>
{{/item}}