<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation>
      <assemblies>
        <remove assembly="*" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".vb" />
          <remove fileExtension=".cs" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".yaml" mimeType="text/yaml" />
      <mimeMap fileExtension=".yml" mimeType="text/yaml" />
      <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
      <mimeMap fileExtension=".tmpl" mimeType="text/template" />
      <mimeMap fileExtension=".cs" mimeType="text/plain" />
      <mimeMap fileExtension=".vb" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>
