---
# Specify include files
inputs:
  docfx.yml: |
    content:
      include:
        - docs/**/*.md
  ignore.md:
  docs/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Specify include files by array
inputs:
  docfx.yml: |
    content:
      include: docs/**/*.md
  ignore.md:
  docs/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Content supports string form
inputs:
  docfx.yml: |
    content: docs1/**/*.md
  ignore.md:
  docs1/index.md:
outputs:
  docs1/index.json:
  build.manifest:
---
# Content supports array form
inputs:
  docfx.yml: |
    content:
    - docs1/**/*.md
    - docs2/**/*.md
  ignore.md:
  docs1/index.md:
  docs2/index.md:
outputs:
  docs1/index.json:
  docs2/index.json:
  build.manifest:
---
# Content supports exclude file
inputs:
  docfx.yml: |
    content:
      include: docs/**/*.md
      exclude: docs/**/ignore.md
  docs/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Content supports exclude folder
inputs:
  docfx.yml: |
    content:
      include: docs/**/*.md
      exclude:
      - docs/ignore/**/*.md
      - docs/codesnippet/**/*.md
  docs/index.md:
  docs/ignore/index.md:
  docs/codesnippet/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Global metadata
inputs:
  docfx.yml: |
    globalMetadata:
      key: value
  docs/a.md:
  docs/b.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "value" } }
  docs/b.json: |
    { "metadata": { "key": "value" } }
  build.manifest:
---
# File metadata of object form
inputs:
  docfx.yml: |
    fileMetadata:
      docs/:
        key: value
      docs/index.md:
        key: another value
  docs/a.md:
  docs/b.md:
  docs/index.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "value" } }
  docs/b.json: |
    { "metadata": { "key": "value" } }
  docs/index.json: |
    { "metadata": { "key": "another value" } }
  build.manifest:
---
# File metadata of array form
inputs:
  docfx.yml: |
    globalMetadata:
      key: general
    fileMetadata:
    - include: docs/**
      exclude:
      - docs/index.md
      - docs/b.md
      value:
        key: exclude b
    - include:
      - docs/index.md
      value:
        key: index
  docs/a.md:
  docs/b.md:
  docs/index.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "exclude b" } }
  docs/b.json: |
    { "metadata": { "key": "general" } }
  docs/index.json: |
    { "metadata": { "key": "index" } }
  build.manifest:
---
# File metadata overwrite global metadata
inputs:
  docfx.yml: |
    globalMetadata:
      key: value
    fileMetadata:
      docs/:
        key: another value
  docs/a.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "another value" } }
  build.manifest:
---
# routes
inputs:
  docfx.yml: |
    routes:
      docs/a.md: output
      docs/b/: output
  docs/a.md:
  docs/b/b.md:
outputs:
  output/a.json:
  output/b.json:
  build.manifest:
---
# latter routes rule takes precedence - 1
inputs:
  docfx.yml: |
    routes:
      docs/a/: output
      docs/a/b.md: outputB
  docs/a/b.md:
outputs:
  outputB/b.json:
  build.manifest:
---
# latter routes rule takes precedence - 2
inputs:
  docfx.yml: |
    routes:
      docs/a/b.md: outputB
      docs/a/: output
  docs/a/b.md:
outputs:
  output/b.json:
  build.manifest:
---
# extend
inputs:
  docfx.yml: |
    extend: _shared/extend.yml
  _shared/extend.yml: |
    content: a.md
  a.md:
outputs:
  a.json:
  build.manifest:
---
# current config takes precedence over extend config
inputs:
  docfx.yml: |
    content: a.md
    extend: extend.yml
  extend.yml: |
    content: invalid.md
  a.md:
outputs:
  a.json:
  build.manifest:
---
# latter extend config takes precedence over former extend config
inputs:
  docfx.yml: |
    extend:
    - extendB.yml
    - extendA.yml
  extendA.yml: |
    content: a.md
  extendB.yml: |
    content: invalid.md
  a.md:
outputs:
  a.json:
  build.manifest:
---
# `/` and `\` in path will be normalized
inputs:
  docfx.yml: |
    routes:
      docs\a.md: output
      .\docs/b\: output
  docs/a.md:
  docs/b/b.md:
outputs:
  output/a.json:
  output/b.json:
  build.manifest:
---
# Invalide redirection file
inputs:
  docfx.yml: |
    redirections:
      docs/toc.md: /absolute/path
outputs:
  build.log: |
    ["error","invalid-redirection","The docs/toc.md shouldn't belong to redirections since it's a TableOfContents"]
---
# Conflicted redirection file
inputs:
  docfx.yml: |
    redirections:
      docs/toc.md: /absolute/path1
    redirectionsWithoutDocumentId:
      docs/toc.md: /absolute/path2
outputs:
  build.log: |
    ["error","conflicted-redirection","The docs/toc.md appears twice or more in the redirection mappings"]
