---
# Specify include files, prefer docfx.yml to docfx.json
inputs:
  docfx.yml: |
    files: docs/**/*.md
  docfx.json: |
    { "files": "ignore.md" }
  ignore.md:
  docs/index.md:
outputs:
  docs/index.json:
---
# Files supports array form
inputs:
  docfx.yml: |
    files:
    - docs1/**/*.md
    - docs2/**/*.md
  ignore.md:
  docs1/index.md:
  docs2/index.md:
outputs:
  docs1/index.json:
  docs2/index.json:
---
# Exclude supports file
inputs:
  docfx.yml: |
    files: docs/**/*.md
    exclude: docs/**/ignore.md
  docs/index.md:
  docs/ignore.md:
outputs:
  docs/index.json:
---
# Exclude supports folder
inputs:
  docfx.yml: |
    files: docs/**/*.md
    exclude:
    - docs/ignore/**/*.md
    - docs/codesnippet/**/*.md
  docs/index.md:
  docs/ignore/index.md:
  docs/codesnippet/index.md:
outputs:
  docs/index.json:
---
# Support specifying build scope in content or resource
inputs:
  docfx.yml: |
    content:
    - files: docs/**/*.md
      exclude: docs/**/ignore.md
    resource:
      files: '*.png'
  docs/index.md:
  docs/ignore.md:
  docs/a.png:
  b.png:
outputs:
  docs/index.json:
  b.png:
---
# Support triple star - For backward compatibility with v2
inputs:
  docfx.yml: |
    content:
    - files: docs/**/*.md
      exclude:
      - '***/readme.md'
  docs/a/readme.md:
outputs:
  !docs/a/readme.json: null
---
# Use content and resource and ignore root build scope if content or resource is defined
inputs:
  docfx.yml: |
    files: a.md
    content:
    - files: b.md
    resource:
    - files: c.png
  a.md:
  b.md:
  c.png:
outputs:
  b.json:
  c.png:
---
# content a's exclude won't influence b's include
inputs:
  docfx.yml: |
    content:
    - files: docs/**/*.md
      exclude: docs/**/*.png
    - files: docs/**/*.png
      exclude: docs/**/*.md
  docs/a.md:
  docs/b.png:
outputs:
  docs/a.json:
  docs/b.png:
---
# content with src, dest config
inputs:
  docfx.yml: |
    content:
    - src: a
      dest: url-a
    - src: b
      dest: .
  a/a.md:
  b/b.md:
outputs:
  url-a/a.json:
  b.json:
---
# Global metadata in docfx.json
inputs:
  docfx.json: |
    { "globalMetadata": { "key": "value" } }
  docs/a.md:
  docs/b.md:
outputs:
  docs/a.json: |
    { "key": "value" }
  docs/b.json: |
    { "key": "value"}
---
# Global metadata multiple keys
inputs:
  docfx.yml: |
    globalMetadata:
      key1: value
      key2: 2
  docs/a.md:
  docs/b.md:
outputs:
  docs/a.json: |
    { "key1": "value", "key2": 2 }
  docs/b.json: |
    { "key1": "value", "key2": 2 }
---
# Global metadata schema violation
inputs:
  docfx.yml: |
    globalMetadata:
      title: 
        - 1
        - 2
  docs/a.md:
  docs/b.md:
outputs:
  docs/a.json: |
    { "title": [1,2] }
  docs/b.json:
  .errors.log: |
    {"message_severity":"error","code":"violate-schema","message":"Expected type String, please input String or type compatible with String.","file":"docfx.yml","line":3,"column":5}
---
# File metadata of object form
inputs:
  docfx.yml: |
    fileMetadata:
      key:
        docs/**: value
        docs/index.md: another value
  docs/a.md:
  docs/b.md:
  docs/index.md:
outputs:
  docs/a.json: |
    { "key": "value" }
  docs/b.json: |
    { "key": "value" }
  docs/index.json: |
    { "key": "another value" }
---
# File metadata overwrite global metadata
inputs:
  docfx.yml: |
    globalMetadata:
      key: value
    fileMetadata:
      key:
        docs/**: another value
  docs/a.md:
outputs:
  docs/a.json: |
    { "key": "another value" }
---
# Metadata value should be directly passed through
# Redirect URL should be trimmed
inputs:
  docfx.yml: |
    globalMetadata:
      key: ' value   '
  redirections.yml: |
    redirections:
      docs/redirect.md: '/absolute/path '
  docs/a.md:
outputs:
  docs/a.json: |
    {
      "key": " value   "
    }
  .publish.json: |
    {
      "files": [
        { 
          "source_path": "redirections.yml", 
          "redirect_target_path": "docs/redirect.md", 
          "redirect_url": "/absolute/path"
        },
        { "url": "/docs/a" }
      ]
    }
---
# routes
inputs:
  docfx.yml: |
    routes:
      ./: output-b
      docs/a.md: output
      docs/b: output
  docs/a.md: |
    [link](c.png)
  docs/c.png:
  docs/b/b.md: |
    [link](d.svg)
  docs/b/d.svg:
  docs/g/a.md: |
    [link](e.jpg)
  docs/g/e.jpg:
outputs:
  output/a.json:
  output/b.json:
  output/d.svg:
  output-b/docs/c.png:
  output-b/docs/g/a.json:
  output-b/docs/g/e.jpg:
---
# latter routes rule takes precedence - 1
inputs:
  docfx.yml: |
    routes:
      docs/a/: output
      docs/a/b.md: output-b
      docs/a/c.gif: output-c
  docs/a/b.md: |
    [link](c.gif)
  docs/a/c.gif:
outputs:
  output-b/b.json:
  output-c/c.gif:
---
# latter routes rule takes precedence - 2
inputs:
  docfx.yml: |
    routes:
      docs/a/b.md: output-b
      docs/a/c.gif: output-c
      docs/a/: output
  docs/a/b.md: |
    [link](c.gif)
  docs/a/c.gif:
outputs:
  output/b.json:
  output/c.gif:
---
# relative path extend with json file
inputs:
  docfx.yml: |
    extend: _shared/extend.json
  _shared/extend.json: |
    {"files": "a.md"}
  a.md:
outputs:
  a.json:
---
# relative path extend to itself
inputs:
  docfx.yml: |
    extend: docfx.yml
    files: a.md
  a.md:
outputs:
  a.json:
---
# absolute url extend
inputs:
  docfx.yml: |
    extend: https://raw.githubusercontent.com/docascode/docfx-test-dependencies/master/extend1.yml
  a.md:
outputs:
  a.json:
---
# current config takes precedence over extend config
inputs:
  docfx.yml: |
    files: a.md
    extend: extend.yml
  extend.yml: |
    files: invalid.md
  a.md:
outputs:
  a.json:
---
# latter extend config takes precedence over former extend config
inputs:
  docfx.yml: |
    extend:
    - extendB.yml
    - https://raw.githubusercontent.com/docascode/docfx-test-dependencies/62b0448/extend1.yml
  extendB.yml: |
    files: invalid.md
  a.md:
outputs:
  a.json:
---
# exclude config extend and external references from build
inputs:
  docfx.yml: |
    extend:
      - docs/a.yml
      - docs/b.yml
    xref: docs/d.json
  docs/a.yml:
  docs/b.yml:
  docs/d.json: '{}'
outputs:
---
# `/` and `\` in path will be normalized
inputs:
  docfx.yml: |
    routes:
      docs\a.md: output
      .\docs/b\: output
  docs/a.md:
  docs/b/b.md:
outputs:
  output/a.json:
  output/b.json:
---
# Adjust error level using custom errors
inputs:
  docfx.yml: |
    rules:
      file-not-found: off
  docs/a.md: |
    [b](b.md)
outputs:
  docs/a.json: |
    { "conceptual": "<p><a href=\"b.md\">b</a></p>" }
---
# Adjust error message, document_url using custom errors
inputs:
  docfx.yml: |
    rules:
      file-not-found:
        severity: error
        additionalMessage: 'NOTE:'
    documentUrls:
      file-not-found: 'https://docs.com'
  a.md: a [b](b.md)
outputs:
  .errors.log: |
    {"message_severity":"error","code":"file-not-found","message":"Invalid file link: 'b.md'. NOTE:","file":"a.md","line":1,"column":3,"document_url":"https://docs.com"}
---
# Treat warnings as errors
inputs:
  docfx.yml: |
    warningsAsErrors: true
  docs/a.md: |
    [b](b.md)
outputs:
  .errors.log: |
    {"message_severity":"error","code":"file-not-found","message":"Invalid file link: 'b.md'.","file":"docs/a.md","line":1,"column":1}
---
# Wrong locale
os: windows
inputs:
  docfx.yml: |
    defaultLocale: wrong/wrong
outputs:
  .errors.log: |
    {"message_severity":"error","code":"locale-invalid","message":"Invalid locale: 'wrong/wrong'."}
---
# file metadata schema violation
inputs:
  docfx.yml: |  
    fileMetadata:
      title:
        docs/**: 
          - 1
          - 2
  docs/a.md:
outputs:
  docs/a.json:
  .errors.log: |
    {"message_severity":"error","code":"violate-schema","message":"Expected type String, please input String or type compatible with String.","file":"docfx.yml","line":4,"column":7}
---
# Should not change files out of outputFolder
usePhysicalInput: true
inputs:
  docfx.yml: |
    files: '**'
    selfContained: false
    routes:
      docs/: .
  a.png:
  docs/a.png:
outputs:
  .publish.json:
  .errors.log: |
      {"message_severity":"warning","code":"output-path-conflict","message":"Two or more files output to the same path 'a.png': 'a.png', 'docs/a.png'."}
---
# dependencyPackageUrl path using git url won't restore the git repo
repos:
  https://docs.com/crr-url-using-path/1:
  - files:
      docfx.yml: |
        dependencies:
          crr:
            path: https://docs.com/crr-url-using-path/2
            includeInBuild: true
  https://docs.com/crr-url-using-path/2:
  - files:
      b.md:
outputs:
  .errors.log: |
    {"message_severity":"error","code":"directory-not-found"}
---
# Dependency repositories should be correctly restored no matter the default branch is main or master - reference with main
noCache: true
noDryRun: true
repos:
  https://docs.com/content/a:
  - files:
      docfx.yml: |
        dependencies:
          crr-migrated: 
            url: https://docs.com/crr-content/migrated
            branch: main
          crr-non-migrated:
            url: https://docs.com/crr-content/non-migrated
            branch: main
      docs/a.md: |
        [!include[dep](~/crr-migrated/dep.md)]
        [!include[dep](~/crr-non-migrated/dep.md)]
  https://docs.com/crr-content/migrated#main:
  - files:
      dep.md: DEP
  https://docs.com/crr-content/non-migrated#master:
  - files:
      dep.md: DEP
outputs:
  docs/a.json: |
    {"conceptual":"<p>DEP</p><p>DEP</p>"}
  .errors.log: |
    {"message_severity":"suggestion","code":"dependency-repository-branch-not-match","message":"The branch(main) used to reference in the dependency repository 'https://docs.com/crr-content/non-migrated' does not match. Please confirm with cross reference repo and update 'main' to 'master' in this repo config file."}
---
# Dependency repositories should be correctly restored no matter the default branch is main or master - reference with master
noCache: true
noDryRun: true
repos:
  https://docs.com/content/a:
  - files:
      docfx.yml: |
        dependencies:
          crr-migrated: 
            url: https://docs.com/crr-content/migrated
            branch: master
          crr-non-migrated:
            url: https://docs.com/crr-content/non-migrated
            branch: master
      docs/a.md: |
        [!include[dep](~/crr-migrated/dep.md)]
        [!include[dep](~/crr-non-migrated/dep.md)]
  https://docs.com/crr-content/migrated#main:
  - files:
      dep.md: DEP
  https://docs.com/crr-content/non-migrated#master:
  - files:
      dep.md: DEP
outputs:
  docs/a.json: |
    {"conceptual":"<p>DEP</p><p>DEP</p>"}
  .errors.log: |
    {"message_severity":"suggestion","code":"dependency-repository-branch-not-match","message":"The branch(master) used to reference in the dependency repository 'https://docs.com/crr-content/migrated' does not match. Please confirm with cross reference repo and update 'master' to 'main' in this repo config file."}
---
# Respect docsets.json config to search for multiple docsets
inputs:
  docsets.json: |
    {
      "docsets": ["a/**", "b/*"],
      "exclude": ["a/2/**"]
    }
  docfx.yml:
  a.md:
  a/1/docfx.yml:
  a/1/a.md:
  a/2/docfx.yml:
  a/2/a.md:
  b/docfx.yml:
  b/a.md:
  c/docfx.yml:
  c/a.md:
outputs:
  a/1/a.json:
  b/a.json:
---
# JSON file as resource
inputs:
  docfx.yml: |
    resource:
      files: b.json
  b.json:
outputs:
  b.json:
---
# Map document id order by path depth, then value
inputs:
  docfx.json: |
    {
      "build": {
        "content":[
          {
            "files": ["**.md"]
          }
        ],
        "globalMetadata": {
          "_op_documentIdPathDepotMapping": {
            "./": {
               "folder_relative_path_in_docset": "dest-root"
            },
            "src/": {
              "folder_relative_path_in_docset": "dest-src"
            },
            "src/dir1": {
              "folder_relative_path_in_docset": "dest-src-dir1"
            }
          }
        }
      }
    }
  src/a.md:
  src/dir1/a.md:
outputs:
  src/a.json: |
    {"document_id":"c871e0da-be84-d8ce-ce09-6d935e69b172","document_version_independent_id":"2c52aff4-0602-cfcd-e12f-269c5629bdd8"}
  src/dir1/a.json: |
    {"document_id":"b998d1b1-aaed-698d-7b82-0bc93b0b7ba5","document_version_independent_id":"2db8730f-5266-6c4f-6a6b-7db32fcff3b3"}
