---
# Specify include files
inputs:
  docfx.yml: |
    content:
      include:
        - docs/**/*.md
  ignore.md:
  docs/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Specify include files by array
inputs:
  docfx.yml: |
    content:
      include: docs/**/*.md
  ignore.md:
  docs/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Content supports string form
inputs:
  docfx.yml: |
    content: docs1/**/*.md
  ignore.md:
  docs1/index.md:
outputs:
  docs1/index.json:
  build.manifest:
---
# Content supports array form
inputs:
  docfx.yml: |
    content:
    - docs1/**/*.md
    - docs2/**/*.md
  ignore.md:
  docs1/index.md:
  docs2/index.md:
outputs:
  docs1/index.json:
  docs2/index.json:
  build.manifest:
---
# Content supports exclude file
inputs:
  docfx.yml: |
    content:
      include: docs/**/*.md
      exclude: docs/**/ignore.md
  docs/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Content supports exclude folder
inputs:
  docfx.yml: |
    content:
      include: docs/**/*.md
      exclude:
      - docs/ignore/**/*.md
      - docs/codesnippet/**/*.md
  docs/index.md:
  docs/ignore/index.md:
  docs/codesnippet/index.md:
outputs:
  docs/index.json:
  build.manifest:
---
# Global metadata
inputs:
  docfx.yml: |
    globalMetadata:
      key: value
  docs/a.md:
  docs/b.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "value" } }
  docs/b.json: |
    { "metadata": { "key": "value" } }
  build.manifest:
---
# File metadata of object form
inputs:
  docfx.yml: |
    fileMetadata:
      docs/:
        key: value
      docs/index.md:
        key: another value
  docs/a.md:
  docs/b.md:
  docs/index.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "value" } }
  docs/b.json: |
    { "metadata": { "key": "value" } }
  docs/index.json: |
    { "metadata": { "key": "another value" } }
  build.manifest:
---
# File metadata of array form
inputs:
  docfx.yml: |
    globalMetadata:
      key: general
    fileMetadata:
    - include: docs/**
      exclude:
      - docs/index.md
      - docs/b.md
      value:
        key: exclude b
    - include:
      - docs/index.md
      value:
        key: index
  docs/a.md:
  docs/b.md:
  docs/index.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "exclude b" } }
  docs/b.json: |
    { "metadata": { "key": "general" } }
  docs/index.json: |
    { "metadata": { "key": "index" } }
  build.manifest:
---
# File metadata overwrite global metadata
inputs:
  docfx.yml: |
    globalMetadata:
      key: value
    fileMetadata:
      docs/:
        key: another value
  docs/a.md:
outputs:
  docs/a.json: |
    { "metadata": { "key": "another value" } }
  build.manifest:
---
# routes
inputs:
  docfx.yml: |
    routes:
      /: outputB
      docs/a.md: output
      docs/b/: output
  docs/a.md: |
    [link](c.png)
  docs/c.png:
  docs/b/b.md: |
    [link](d.svg)
  docs/b/d.svg:
  docs/g/a.md: |
    [link](e.jpg)
  docs/g/e.jpg:
outputs:
  output/a.json:
  output/b.json:
  output/d.svg:
  outputB/docs/c.png:
  outputB/docs/g/a.json:
  outputB/docs/g/e.jpg:
  build.manifest:
---
# latter routes rule takes precedence - 1
inputs:
  docfx.yml: |
    routes:
      docs/a/: output
      docs/a/b.md: outputB
      docs/a/c.gif: outputC
  docs/a/b.md: |
    [link](c.gif)
  docs/a/c.gif:
outputs:
  outputB/b.json:
  outputC/c.gif:
  build.manifest:
---
# latter routes rule takes precedence - 2
inputs:
  docfx.yml: |
    routes:
      docs/a/b.md: outputB
      docs/a/c.gif: outputC
      docs/a/: output
  docs/a/b.md: |
    [link](c.gif)
  docs/a/c.gif:
outputs:
  output/b.json:
  output/c.gif:
  build.manifest:
---
# relative path extend
inputs:
  docfx.yml: |
    extend: _shared/extend.yml
  _shared/extend.yml: |
    content: a.md
  a.md:
outputs:
  a.json:
  build.manifest:
---
# relative path extend to itself
inputs:
  docfx.yml: |
    extend: docfx.yml
    content: a.md
  a.md:
outputs:
  a.json:
  build.manifest:
---
# absolute url extend
inputs:
  docfx.yml: |
    extend: https://raw.githubusercontent.com/docascode/docfx-test-dependencies/extend-test-1/extend1.yml
  a.md:
outputs:
  a.json:
  build.manifest:
---
# current config takes precedence over extend config
inputs:
  docfx.yml: |
    content: a.md
    extend: extend.yml
  extend.yml: |
    content: invalid.md
  a.md:
outputs:
  a.json:
  build.manifest:
---
# latter extend config takes precedence over former extend config
inputs:
  docfx.yml: |
    extend:
    - extendB.yml
    - https://raw.githubusercontent.com/docascode/docfx-test-dependencies/extend-test-1/extend1.yml
  extendB.yml: |
    content: invalid.md
  a.md:
outputs:
  a.json:
  build.manifest:
---
# exclude config extend and external references from build
inputs:
  docfx.yml: |
    extend:
      - docs/a.yml
      - docs/b.yml
    contribution:
      gitCommitsTime: docs/c.json
      userProfileCache: docs/d.json
  docs/a.yml:
  docs/b.yml:
  docs/c.json: '{}'
  docs/d.json: '{}'
outputs:
  build.manifest:
---
# expand config before merge
inputs:
  docfx.yml: |
    content: '**/*.md'
    extend:
      extend.yml
  extend.yml: |
    content: 
      include: a.md
      exclude: b.md
  a.md:
  b.md:
outputs:
  a.json:
  build.manifest:
---
# `/` and `\` in path will be normalized
inputs:
  docfx.yml: |
    routes:
      docs\a.md: output
      .\docs/b\: output
  docs/a.md:
  docs/b/b.md:
outputs:
  output/a.json:
  output/b.json:
  build.manifest:
---
# Adjust error level using rules
inputs:
  docfx.yml: |
    rules:
      file-not-found: off
  docs/a.md: |
    [b](b.md)
outputs:
  docs/a.json: |
    { "content": "<p><a href=\"b.md\">b</a></p>" }
  build.manifest:
---
# Treat warnings as errors
inputs:
  docfx.yml: |
    warningsAsErrors: true
  docs/a.md: |
    [b](b.md)
outputs:
  build.manifest:
  build.log: |
    ["error","file-not-found","Cannot find file 'b.md' relative to 'docs/a.md'","docs/a.md"]
---
# Invalid redirection file
inputs:
  docfx.yml: |
    redirections:
      docs/TOC.md: /absolute/path
outputs:
  build.log: |
    ["error","invalid-redirection","The 'docs/TOC.md' shouldn't belong to redirections since it's a TableOfContents","docfx.yml"]
  build.manifest:
---
# Conflicted redirection file
inputs:
  docfx.yml: |
    redirections:
      docs/a.md: /absolute/path1
    redirectionsWithoutId:
      docs/a.md: /absolute/path2
outputs:
  docs/a.json:
  build.log: |
    ["error","redirection-conflict","The 'docs/a.md' appears twice or more in the redirection mappings","docfx.yml"]
  build.manifest:
