name: ci
on:
  pull_request:
    branches: [ main, feature/*, hotfix/* ]
  push:
    branches: [ main, feature/*, hotfix/* ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          6.x
          7.x

    - run: npm install
      working-directory: templates

    - run: npm run lint
      working-directory: templates

    - run: npm run build
      working-directory: templates

    - run: dotnet build -c Release

    - run: choco install wkhtmltopdf
      if: matrix.os == 'windows-latest'

    - run: dotnet test -c Release --filter Stage=Snapshot --no-build --collect:"XPlat Code Coverage"
      working-directory: test/docfx.Snapshot.Tests

    - uses: actions/upload-artifact@v3
      if: failure() && matrix.os == 'windows-latest'
      with:
        name: screenshots
        path: |
          test/docfx.Snapshot.Tests/**/*.received.png
          test/docfx.Snapshot.Tests/**/*.diff.png

    - run: dotnet test -c Release -f net7.0 --filter Stage!=Snapshot --no-build --collect:"XPlat Code Coverage"

    - run: dotnet test -c Release -f net6.0 --filter Stage!=Snapshot --no-build --collect:"XPlat Code Coverage"

    - uses: codecov/codecov-action@v3
      if: matrix.os == 'ubuntu-latest'

    - run: dotnet run -c Release --no-build -f net7.0 --project src/docfx -- docs/docfx.json

    - uses: actions/upload-artifact@v3
      if: matrix.os == 'ubuntu-latest'
      with:
        name: site
        path: docs/_site

  publish-docs:
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: site
        path: site
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
