name: ci
on:
  pull_request:
    branches: [ main, feature/*, hotfix/* ]
  push:
    branches: [ main, feature/*, hotfix/* ]
  workflow_dispatch:

env:
  NO_COLOR: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{github.event.pull_request.head.ref}}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        lfs: true

    - uses: ./.github/actions/build

    - run: npm run lint
      shell: bash
      working-directory: templates

    - run: npm test
      shell: bash
      working-directory: templates

    - name: Install Chromium headless shell
      shell: pwsh
      working-directory: src/docfx/bin/Release/net8.0
      run: |
        $env:PLAYWRIGHT_NODEJS_PATH = (Get-Command node).Path
        ./playwright.ps1 install chromium --only-shell

    - name: Install `dotnet-coverage` as .NET Global Tool
      run: dotnet tool install -g dotnet-coverage

    - name: Start dotnet-coverage with background server mode
      run: dotnet coverage collect --session-id docfx_coverage --settings test/CodeCoverage.config --server-mode --background

    - run: dotnet coverage connect docfx_coverage "dotnet test -c Release -f net10.0 --no-build"
      id: test-net100

    - run: dotnet coverage connect docfx_coverage "dotnet test -c Release -f net9.0 --no-build"
      if: matrix.os == 'ubuntu-latest'
      id: test-net90

    - run: dotnet coverage connect docfx_coverage "dotnet test -c Release -f net8.0 --no-build"
      if: matrix.os == 'ubuntu-latest'
      id: test-net80

    - run: npm i -g @percy/cli
      if: matrix.os == 'ubuntu-latest'

    - run: dotnet coverage connect docfx_coverage "percy exec -- dotnet test -c Release -f net10.0 --no-build -- --filter-trait "Stage=Percy""
      if: matrix.os == 'ubuntu-latest'
      env:
        PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

    - name: Shutdown dotnet-coverage server.
      run: dotnet coverage shutdown docfx_coverage  --timeout 60000

    - uses: codecov/codecov-action@v5
      if: matrix.os == 'ubuntu-latest'
      with:
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: test/TestResults/code-coverages

    - run: echo "DOTNET_DbgEnableMiniDump=1" >> $GITHUB_ENV
      if: matrix.os == 'ubuntu-latest'

    - run: dotnet run -c Release --no-build -f net10.0 --project src/docfx -- docs/docfx.json
    - run: dotnet run -c Release --no-build -f net10.0 --project src/docfx -- samples/seed/docfx.json --output docs/_site/seed

    - uses: actions/upload-pages-artifact@v4
      if: matrix.os == 'ubuntu-latest'
      with:
        path: docs/_site

    - name: Upload Logs
      uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: logs-${{ matrix.os }}
        path: |
          msbuild.binlog
          test/**/TestResults/*.log
          test/**/TestResults/*.trx
          test/**/TestResults/*.html
          test/**/TestResults/*.ctrf

    - uses: actions/upload-artifact@v6
      if: ${{ failure() && matrix.os == 'ubuntu-latest' }}
      with:
        name: dump
        path: /tmp/coredump*

  publish-docs:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [test]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      pages: write
      id-token: write
    steps:
    - id: deployment
      uses: actions/deploy-pages@v4
