name: release
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: ./.github/actions/build

    - name: dotnet pack
      run: dotnet pack -c Release /p:Version=${GITHUB_REF_NAME#v} -o drop/nuget

    - name: dotnet publish
      run: |
        dotnet publish src/docfx -f net10.0 -c Release /p:Version=${GITHUB_REF_NAME#v} --self-contained -r win-x64 -o drop/publish/win-x64
        dotnet publish src/docfx -f net10.0 -c Release /p:Version=${GITHUB_REF_NAME#v} --self-contained -r linux-x64 -o drop/publish/linux-x64
        dotnet publish src/docfx -f net10.0 -c Release /p:Version=${GITHUB_REF_NAME#v} --self-contained -r osx-x64 -o drop/publish/osx-x64
        mkdir -p drop/bin

    - run: zip -r ../../bin/docfx-win-x64-${GITHUB_REF_NAME}.zip .
      working-directory: drop/publish/win-x64
    - run: zip -r ../../bin/docfx-linux-x64-${GITHUB_REF_NAME}.zip .
      working-directory: drop/publish/linux-x64
    - run: zip -r ../../bin/docfx-osx-x64-${GITHUB_REF_NAME}.zip .
      working-directory: drop/publish/osx-x64

    - uses: actions/upload-artifact@v6
      with:
        name: nuget
        path: drop/nuget

    - uses: actions/upload-artifact@v6
      with:
        name: bin
        path: drop/bin

  sign:
    runs-on: windows-latest
    needs: build
    environment: nuget.org
    permissions:
      id-token: write
    steps:
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x

    - uses: actions/download-artifact@v7
      with:
        name: nuget
        path: drop/nuget

    # Install `Sign CLI` to use Azure Key Vault (See: https://github.com/dotnet/sign/blob/main/docs/comparisons.md)
    - run: dotnet tool install --tool-path . --prerelease sign

    - uses: azure/login@v2
      with:
        allow-no-subscriptions: true
        client-id: ${{ secrets.SIGN_KEY_VAULT_CLIENT_ID }}
        tenant-id: ${{ secrets.SIGN_KEY_VAULT_TENANT_ID }}

    - run: >
        ./sign code azure-key-vault
        drop/nuget/**/*.*
        --description "Docfx code sign"
        --description-url "https://dotnet.github.io/docfx"
        --timestamp-url http://timestamp.digicert.com
        --azure-credential-type "azure-cli"
        --azure-key-vault-url "${{ secrets.SIGN_KEY_VAULT_URL }}"
        --azure-key-vault-certificate "${{ secrets.SIGN_KEY_VAULT_CERTIFICATE }}"

    - uses: actions/upload-artifact@v6
      with:
        name: nuget-signed
        path: drop/nuget

  publish:
    runs-on: ubuntu-latest
    needs: sign
    environment: nuget.org
    permissions:
      contents: write
      id-token: write
    steps:
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x

    - uses: actions/download-artifact@v7
      with:
        name: nuget-signed
        path: drop/nuget

    - uses: actions/download-artifact@v7
      with:
        name: bin
        path: drop/bin

    - name: NuGet login
      uses: NuGet/login@v1
      id: nuget-login
      with:
        user: ${{ secrets.NUGET_USER }}

    - name: Publish NuGet packages
      run: |
        dotnet nuget push drop/nuget/*.nupkg --api-key "${{ steps.nuget-login.outputs.NUGET_API_KEY }}" --skip-duplicate --source https://api.nuget.org/v3/index.json

    - name: Upload GitHub release
      run: |
        gh release upload --repo dotnet/docfx ${GITHUB_REF_NAME} drop/bin/docfx-win-x64-${GITHUB_REF_NAME}.zip
        gh release upload --repo dotnet/docfx ${GITHUB_REF_NAME} drop/bin/docfx-linux-x64-${GITHUB_REF_NAME}.zip
        gh release upload --repo dotnet/docfx ${GITHUB_REF_NAME} drop/bin/docfx-osx-x64-${GITHUB_REF_NAME}.zip
      env:
        GH_TOKEN: ${{ github.token }}
