name: release
on:
  release:
    types: [published]

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.x

    - run: |
        npm install
        npm run build
      working-directory: templates

    - name: dotnet pack
      run: |
        $version = $env:GITHUB_REF_NAME.TrimStart('v')
        dotnet pack -c Release -o drop /p:Version=$version /p:InformationalVersion=$version

    - uses: actions/upload-artifact@v3
      with:
        name: nuget
        path: drop

    - name: publish
      uses: Azure/pipelines@v1.2
      with:
        azure-devops-project-url: https://dev.azure.com/ceapex/Engineering
        azure-pipeline-name: 'dotnet.docfx'
        azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
        azure-pipeline-variables: '{"GH_RUNID": "${{github.run_id}}"}'