name: Test
on:
  pull_request:
    branches: [ v3 ]
  push:
    branches: [ v3 ]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - run: dotnet build -warnAsError -c Release
    - run: dotnet test -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    - uses: codecov/codecov-action@v1
      if: ${{ matrix.os == 'windows-latest' }}

    - run: dotnet publish src\docfx\docfx.csproj -warnAsError -c Release -o $RUNNER_TEMP/publish
    - uses: actions/upload-artifact@v2
      with:
        name: docfx-${{ matrix.os }}
        path: $RUNNER_TEMP/publish
