name: Test
on:
  pull_request:
    branches: [ v3 ]
  push:
    branches: [ v3 ]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - run: dotnet build -warnAsError -c Release
    - run: dotnet test -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover --logger "console;verbosity=detailed"
    - uses: codecov/codecov-action@v1
      if: ${{ matrix.os == 'windows-latest' }}

    - run: dotnet publish src/docfx/docfx.csproj -warnAsError -c Release -o ${{ runner.temp }}/publish
    - uses: actions/upload-artifact@v2
      with:
        name: docfx-${{ matrix.os }}
        path: ${{ runner.temp }}/publish
